<template>
    <Panel header="Add Customer Regular">
		<div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="customerReguler.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="customerReguler.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col-6">
                <Dropdown
                    v-model="customerReguler.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="customerReguler.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Customer Panel</label>
            <div class="col-2">
                <InputText type="text" v-model="customerReguler.Sitecode" class="w-full" :disabled="true" />
            </div>
            <div class="col-5">
                <InputText type="text" v-model="customerReguler.OutletName" class="w-full" :disabled="true" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddCustomer" />
			</div>
        </div>
        <div class="field grid" v-if="ActionID != 0">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Mapping to FF</label>
            <div class="col-2">
                <InputText type="text" v-model="RayonCode" class="w-full" :disabled="true" />
            </div>
            <div class="col-5">
                <InputText type="text" v-model="EmployeeName" class="w-full" :disabled="true" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col-2">
                <InputText type="text" v-model="customerReguler.RayonCode" class="w-full" :disabled="true" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="customerReguler.EmployeeID" class="w-full" :disabled="true" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="customerReguler.EmployeeName" class="w-full" :disabled="true" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="customerReguler.EmployeePosition" class="w-full" :disabled="true" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddEmployee" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Save Data" class="p-button-success mr-3" @click="onSaveData"/>
                <Button label="Cancel" class="p-button-success mr-3" @click="onCancel" v-if="ActionID != 0"/>
            </div>
        </div>
        <div class="field grid" v-if="errorMessage !== null">
            <div class="col">
                <transition-group name="p-message" tag="div">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import fieldForceModal from "../Modal/FieldForceModal.vue";
import customerModal from "../Modal/CustomerModal.vue";
import moment from 'moment'

export default {
    data() {
        return {
            customerReguler: {
                CustomerFFID: null,
                area: null,
                lini: null,
                RayonCode: null,
                EmployeeID: null,
                EmployeeName: null,
                EmployeePosition: null,
                EmployeeMRType: null,
                Sitecode: null,
                OutletName: null,
                OutletAddress: null,
                StartDate: null,
                EndDate: null
            },
            RayonCode: null,
            EmployeeName: null,
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            errorMessage: [],
            ActionID: localStorage.getItem("ActionID") ? localStorage.getItem("ActionID") : 0
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        const tempCustomerReguler = localStorage.getItem("TransferData");
        if (tempCustomerReguler) {
            const parseCustomerReguler = JSON.parse(tempCustomerReguler);
            this.customerReguler.CustomerFFID = parseCustomerReguler.CustomerFFID;
            this.customerReguler.area = parseCustomerReguler.area;
            this.customerReguler.lini = parseCustomerReguler.lini;
            this.RayonCode = parseCustomerReguler.RayonCode;
            this.EmployeeName = parseCustomerReguler.EmployeeName;
            this.customerReguler.Sitecode = parseCustomerReguler.Sitecode;
            this.customerReguler.OutletName = parseCustomerReguler.OutletName;
            this.customerReguler.OutletAddress = parseCustomerReguler.OutletAddress;
            if (parseCustomerReguler.StartDate) {
                this.customerReguler.StartDate = new Date(parseCustomerReguler.StartDate);
            }
            if (parseCustomerReguler.EndDate) {
                this.customerReguler.EndDate = new Date(parseCustomerReguler.EndDate);
            }
        }
        if (!this.customerReguler.StartDate) {
            const today = new Date();
            this.customerReguler.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        }
        if (!this.customerReguler.EndDate) {
            this.customerReguler.EndDate = new Date(localStorage.getItem("never_end_date"));
        }
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddEmployee() {
            this.$dialog.open(fieldForceModal, {
                props: {
                    header: 'Field Force List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    liniList: this.liniList,
                    area: this.customerReguler.area,
                    lini: this.customerReguler.lini,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedData = options.data;
                    if (tempSelectedData) {
                        this.customerReguler.RayonCode = tempSelectedData.RayonCode;
                        this.customerReguler.EmployeeID = tempSelectedData.EmployeeID;
                        this.customerReguler.EmployeeName = tempSelectedData.EmployeeName;
                        this.customerReguler.EmployeePosition = tempSelectedData.EmployeePosition;
                        this.customerReguler.EmployeeMRType = tempSelectedData.EmployeeMRType;
                    }
                }
            });
        },
        
        onAddCustomer() {
            this.$dialog.open(customerModal, {
                props: {
                    header: 'Customer List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    area: this.customerReguler.area,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedData = options.data;
                    if (tempSelectedData) {
                        this.customerReguler.Sitecode = tempSelectedData.Sitecode;
                        this.customerReguler.OutletName = tempSelectedData.CustName;
                        this.customerReguler.OutletAddress = tempSelectedData.Address;
                    }
                }
            });
        },

        onSaveData() {
            this.$confirm.require({
                message: 'Are you sure you want to save data?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.customerReguler.StartDate = new Date(
                        this.customerReguler.StartDate.getFullYear(),
                        this.customerReguler.StartDate.getMonth(),
                        this.customerReguler.StartDate.getDate());
                    this.customerReguler.EndDate = new Date(
                        this.customerReguler.EndDate.getFullYear(),
                        this.customerReguler.EndDate.getMonth(),
                        this.customerReguler.EndDate.getDate());

                        const startPd = Date.parse(this.customerReguler.StartDate);
                        const endPd = Date.parse(this.customerReguler.EndDate);
                        // console.log('start',startPd);
                        // console.log('end',endPd);    
                    if (startPd > endPd || startPd == endPd) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                        });
                        return;
                    }

                    if (this.customerReguler.StartDate.getDate() !== 1) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'start date have to selected with early day of the month' 
                        });
                        return;
                    }
                    const tempPeriodTo = new Date(
                        this.customerReguler.EndDate.getFullYear(),
                        this.customerReguler.EndDate.getMonth(),
                        this.customerReguler.EndDate.getDate() + 1);
                    if (tempPeriodTo.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                        return;
                    }
                    axiosService.post('/api/customer-field-force/save', this.customerReguler)
                    .then(response => {
                        if (this.ActionID !== 0) {
                            this.onCancel();
                        } else {
                            this.customerReguler = {
                                area: null,
                                lini: null,
                                RayonCode: null,
                                EmployeeID: null,
                                EmployeeName: null,
                                EmployeePosition: null,
                                EmployeeMRType: null,
                                Sitecode: null,
                                OutletName: null,
                                OutletAddress: null,
                                StartDate: null,
                                EndDate: null
                            }
                            const today = new Date();
                            this.customerReguler.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
                            this.customerReguler.EndDate = new Date(localStorage.getItem("never_end_date"));
                            this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                        }
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        onCancel() {
            const tempSourcePage = localStorage.getItem("SourcePage");
            if (tempSourcePage) {
                this.$router.push({
                    name: tempSourcePage
                });
            }
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
