<template>
    <Panel header="Overview Customer Regular">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col-6">
                <Dropdown
                    v-model="customerReguler.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="customerReguler.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
		<div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="customerReguler.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="customerReguler.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Site Code - Customer Name</label>
            <div class="col-3">
                <InputText type="text" v-model="customerReguler.Sitecode" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="customerReguler.OutletName" class="w-full" />
            </div>
            <div class="col">
                <Button icon="pi pi-search" @click="onAddCustomer" />
			</div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button label="Search" class="p-button-primary mr-3" @click="onSearch" :loading="loading[2]"/>
                <Button label="Delete" class="p-button-danger mr-3" @click="onDeleteMultiple" 
                v-bind:disabled="!(selectedCustomerReguler && selectedCustomerReguler.length > 0)"/>
                <Button icon="pi pi-external-link" label="Export" @click="exportCSV($event)" />
            </div>
        </div>
        <div class="field grid" v-if="errorMessage.length > 0">
            <div class="col">
                <transition-group name="p-message" tag="div">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable :value="customerRegulerList" v-model:selection="selectedCustomerReguler" data-key="CustomerFFID" :lazy="true"
        :paginator="true" :rows="10" responsiveLayout="scroll" @page="onPage($event)" :totalRecords="totalRecords" 
        :loading="loading[2]" v-if="customerRegulerList.length > 0" ref="dt">
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="AreaName" header="Area Name"></Column>
            <Column field="LineName" header="Line Name"></Column>
            <Column field="SubLine" header="Sub Line"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Outlet Name"></Column>
            <Column field="RayonCode" header="Rayon Code"></Column>
            <Column header="Start Date">
                <template #body="item">{{ formatDate(item.data.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body="item">{{ formatDate(item.data.EndDate) }}</template>
            </Column>
            <Column :exportable="false" headerStyle="min-width: 10vw">
                <template #body="slotProps">
                    <div class="col">
                        <Button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                        @click="onEditData(slotProps.data)" />
                        <Button icon="pi pi-trash" class="p-button-rounded p-button-danger" 
                        @click="onDeleteSingle(slotProps.data)" />
                    </div>
                </template>
            </Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>
import axiosService from "./../../services/axios";
import customerModal from "../Modal/CustomerModal.vue";
import moment from 'moment'

export default {
    data() {
        return {
            customerReguler: {
                area: null,
                lini: null,
                Sitecode: null,
                OutletName: null,
                OutletAddress: null,
                StartDate: null,
                EndDate: null
            },
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            errorMessage: [],
            customerRegulerList: [],
            selectedCustomerReguler: null,
            totalRecords: 0,
            lazyParams: {
				first: 0,
				rows: 0,
				sortField: null,
				sortOrder: null,
				filters: this.filters
            }
        }
    },

    created() {
        this.onLoadArea();
        this.onLoadLine();
        const tempCustomerReguler = localStorage.getItem("FilterData");
        if (tempCustomerReguler) {
            this.customerReguler = JSON.parse(tempCustomerReguler);
            this.customerReguler.StartDate = new Date(this.customerReguler.StartDate);
            this.customerReguler.EndDate = new Date(this.customerReguler.EndDate);
            this.loadLazyData(this.lazyParams);
            localStorage.removeItem('ActionID');
            localStorage.removeItem('FilterData');
            localStorage.removeItem('TransferData');
            localStorage.removeItem('SourcePage');
        } else {
            const today = new Date();
            this.customerReguler.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
            this.customerReguler.EndDate = new Date(localStorage.getItem("never_end_date"));
        }
    },

    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddCustomer() {
            this.$dialog.open(customerModal, {
                props: {
                    header: 'Customer List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    area: this.customerReguler.area,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedData = options.data;
                    if (tempSelectedData) {
                        this.customerReguler.Sitecode = tempSelectedData.Sitecode;
                        this.customerReguler.OutletName = tempSelectedData.CustName;
                        this.customerReguler.OutletAddress = tempSelectedData.Address;
                    }
                }
            });
        },

        loadLazyData() {
            axiosService.post('/api/customer-field-force/search', {
                data: this.customerReguler,
                pageSetting: this.lazyParams
            })
            .then(response => {
                this.customerRegulerList = response.data;
                
                if (response.data && response.data.length > 0) {
                    this.totalRecords = response.data[0].totalRows;
                }
            }, error => {
                if (error.response.status === 404) {
                    if (error.response.data.code === 'INVALID TOKEN') {
                        localStorage.clear();
                        this.$router.push('/login');
                    } else {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.data.code, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
                if (error.response.status === 500) {
                    this.$toast.add({ 
                        severity: 'error', 
                        summary: error.response.statusText, 
                        detail: error.response.data.message, 
                        life: 3000 
                    });
                }
            });
        },

        onSearch() {
            this.loadLazyData();
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },
        
        onDeleteMultiple() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/customer-field-force/delete', this.selectedCustomerReguler)
                    .then(response => {
                        this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                        this.loadLazyData();
                        this.selectedCustomerReguler = null;
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },
        
        onDeleteSingle(tempCustomerReguler) {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.selectedCustomerReguler = [];
                    this.selectedCustomerReguler.push(tempCustomerReguler);
                    axiosService.post('/api/customer-field-force/delete', this.selectedCustomerReguler)
                    .then(response => {
                        this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                        this.loadLazyData();
                        this.selectedCustomerReguler = null;
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        onEditData(tempCustomerReguler) {
            tempCustomerReguler.area = this.customerReguler.area;
            tempCustomerReguler.lini = this.customerReguler.lini;
            localStorage.setItem('ActionID', 3);
            localStorage.setItem('FilterData', JSON.stringify(this.customerReguler));
            localStorage.setItem('TransferData', JSON.stringify(tempCustomerReguler));
            localStorage.setItem('SourcePage', 'overview-customer-regular-config');
            this.$router.push({
                name: 'add-customer-regular'
            });
        },
        
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },
        
        exportCSV() {
            this.$refs.dt.exportCSV();
        }
    }
}
</script>
