<template>
    <Panel header="Sales Report No List">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col-6">
                <Dropdown
                    v-model="customerReguler.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="customerReguler.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button v-bind:disabled="!(customerReguler.area && customerReguler.lini !== null)" label="Search" class="p-button-primary mr-3" @click="onSearch" :loading="loading[2]"/>
                <Button label="Export File" icon="pi pi-download" class="p-button-primary mr-3" @click="exportXLSX" 
                v-bind:disabled="!(selectedCustomerReguler && selectedCustomerReguler.length > 0)"/>
            </div>
        </div>
        <div class="field grid" v-if="errorMessage.length > 0">
            <div class="col">
                <transition-group name="p-message" tag="div">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable :value="customerRegulerList" v-model:selection="selectedCustomerReguler" data-key="Sitecode"
        :paginator="true" :rows="10" responsiveLayout="scroll" :loading="loading[2]"
        ref="datatable" v-if="customerRegulerList.length > 0">
            <Column field="AreaCode" header="Area Code"></Column>
            <Column field="LineName" header="Line Name"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Outlet Name"></Column>
            <Column>
                <template #body="slotProps">
                    <div class="col">
                        <Button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                        @click="onEditData(slotProps.data)" />
                        <!-- <Button icon="pi pi-trash" class="p-button-rounded p-button-danger" 
                        @click="onDeleteSingle(slotProps.data)" /> -->
                    </div>
                </template>
            </Column>
        </DataTable>
  </Panel>
  <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';
import * as FileSaver from 'file-saver';
import writeXlsxFile from 'write-excel-file';

export default {
    data() {
        return {
            customerReguler: {
                area: null,
                lini: null
            },
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            errorMessage: [],
            customerRegulerList: [],
            selectedCustomerReguler: null
        }
    },

    created() {
        this.onLoadArea();
        this.onLoadLine();
        const tempCustomerReguler = localStorage.getItem("FilterData");
        if (tempCustomerReguler) {
            this.customerReguler = JSON.parse(tempCustomerReguler);
            localStorage.removeItem('ActionID');
            localStorage.removeItem('FilterData');
            localStorage.removeItem('TransferData');
            localStorage.removeItem('SourcePage');
        }
    },

    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onSearch() {
            axiosService.post('/api/scheme/OutletList', this.customerReguler)
            .then(response => {
                this.customerRegulerList = response.data;
            }, error => {
                if (error.response.status === 404) {
                    if (error.response.data.code === 'INVALID TOKEN') {
                        localStorage.clear();
                        this.$router.push('/login');
                    } else {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.data.code, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
                if (error.response.status === 500) {
                    this.$toast.add({ 
                        severity: 'error', 
                        summary: error.response.statusText, 
                        detail: error.response.data.message, 
                        life: 3000 
                    });
                }
            });
        },
        
        onDeleteSingle(tempCustomerReguler) {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.selectedCustomerReguler = [];
                    this.selectedCustomerReguler.push(tempCustomerReguler);
                    axiosService.post('/api/customer-field-force/delete', this.selectedCustomerReguler)
                    .then(response => {
                        this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                        this.loadLazyData(this.lazyParams);
                        this.selectedCustomerReguler = null;
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        onEditData(tempCustomerReguler) {
            tempCustomerReguler.area = this.customerReguler.area;
            tempCustomerReguler.lini = this.customerReguler.lini;
            localStorage.setItem('ActionID', 0);
            localStorage.setItem('FilterData', JSON.stringify(this.customerReguler));
            localStorage.setItem('TransferData', JSON.stringify(tempCustomerReguler));
            localStorage.setItem('SourcePage', 'sales-report-config');
            this.$router.push({
                name: 'add-customer-regular'
            });
        },

        async exportXLSX() {
            this.$refs.datatable.exportCSV();
        },
        
        formatDate(value) {
            return moment(value).format('DD/MM/YYYY');
        }
    }
}
</script>