<template>
    <Panel header="Add Customer Contribution">
		<div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="contribution.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="contribution.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col-6">
                <Dropdown
                    v-model="contribution.area"
                    :options="customerAreaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="contribution.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    @change="onChangeLineProduct"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Customer Area</label>
            <div class="col">
                <Dropdown
                    v-model="contribution.customerArea"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Sub Line</label>
            <div class="col">
                <MultiSelect
                    v-model="contribution.SubLine"
                    :options="subLineList"
                    optionLabel="SubLineName"
                    optionValue="SubLineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-3"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Customer Name</label>
            <div class="col-2">
                <InputText type="text" v-model="contribution.Sitecode" class="w-full" :disabled="true" />
            </div>
            <div class="col-5">
                <InputText type="text" v-model="contribution.OutletName" class="w-full" :disabled="true" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddCustomer" />
			</div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col">
                <Button icon="pi pi-search" @click="onAddEmployee" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Save Data" class="p-button-success mr-3" @click="onSaveData"/>
                <Button label="Delete Data" @click="onDeleteData" class="p-button-danger mr-3"
                v-bind:disabled="!(selectedContributionList && selectedContributionList.length > 0)"/>
                <Button label="Cancel" class="p-button-success mr-3" @click="onCancel" v-if="ActionID != 0"/>
            </div>
        </div>
        <div class="field grid" v-if="errorMessage && errorMessage.length > 0">
            <div class="col">
                <transition-group name="p-message" tag="div">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable :value="contribution.EmployeeList" v-model:selection="selectedContributionList" data-key="CustomerFFID" 
        :paginator="true" :rows="10" responsiveLayout="scroll" :loading="loading[2]"
        v-if="contribution.EmployeeList.length > 0">
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="RayonCode" header="Rayon Code"></Column>
            <Column field="EmployeeID" header="Employee ID"></Column>
            <Column field="EmployeeName" header="Employee Name"></Column>
            <Column field="EmployeePosition" header="Position"></Column>
            <Column field="EmployeeMRType" header="MR Type"></Column>
            <Column field="Partition" header="Partition">
                <template #body="item">
                    <InputText type="text" v-model="item.data.Partition"/>
                </template>
            </Column>
            <Column header="Start Date">
                <template #body>{{ formatDate(contribution.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body>{{ formatDate(contribution.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import fieldForceModal from "../Modal/FieldForceModal.vue";
import customerModal from "../Modal/CustomerModal.vue";
import moment from 'moment'

export default {
    data() {
        return {
            contribution: {
                area: null,
                lini: null,
                customerArea: null,
                Sitecode: null,
                OutletName: null,
                OutletAddress: null,
                SubLine: null,
                StartDate: null,
                EndDate: null,
                EmployeeList: []
            },
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            customerAreaList: [],
            subLineList: [],
            subLineOriginalList: [],
            errorMessage: [],
            ActionID: localStorage.getItem("ActionID") ? localStorage.getItem("ActionID") : 0,
            selectedContributionList: []
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        this.onLoadLineProduct();
        this.customerAreaList = this.areaList;
        const tempContribution = localStorage.getItem("TransferData");
        if (tempContribution) {
            const parseContribution = JSON.parse(tempContribution);
            this.contribution.area = parseContribution.area;
            this.contribution.lini = parseContribution.lini;
            this.contribution.Sitecode = parseContribution.Sitecode;
            this.contribution.OutletName = parseContribution.OutletName;
            this.contribution.OutletAddress = parseContribution.OutletAddress;
            this.contribution.StartDate = new Date(parseContribution.StartDate);
            this.contribution.EndDate = new Date(parseContribution.EndDate);
            this.onChangeLineProduct();
            this.loadLazyData();
        } else {
            const today = new Date();
            this.contribution.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
            this.contribution.EndDate = new Date(localStorage.getItem("never_end_date"));
        }
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLineProduct() {
            const tempsubLineList = localStorage.getItem("subLineList");
            if (tempsubLineList) {
                this.subLineOriginalList = JSON.parse(tempsubLineList);
            } else {
                axiosService.post('/api/scheme/SubLineList', {})
                .then(
                    response => {
                        this.subLineOriginalList = response.data;
                        localStorage.setItem("subLineList", JSON.stringify(response.data));
                    },
                    error => {
                        this.subLineOriginalList = [];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onChangeAreaLine() {
            let tempArea = this.contribution.area.AreaID;
            if (tempArea) {
                this.customerAreaList = this.areaList.filter((customerArea) => {
                    return customerArea.AreaID !== tempArea;
                });
            } else {
                this.customerAreaList = this.areaList;
            }
        },

        onChangeLineProduct() {
            if (this.contribution.lini) {
                this.subLineList = this.subLineOriginalList.filter(item => item.LineID === this.contribution.lini.LineID);
            } else {
                this.subLineList = [];
            }
        },

        loadLazyData() {
            const lazyParams = {
				first: 0,
				rows: 0,
				sortField: null,
				sortOrder: null,
				filters: this.filters
            }
            axiosService.post('/api/customer-contribution/search', {
                data: this.contribution,
                pageSetting: lazyParams
            })
            .then(response => {
                this.contribution.SubLine = response.data.reduce((accumulator, currentValue) => {
                    if (accumulator.indexOf(currentValue.SubLine) === -1) {
                        accumulator.push(currentValue.SubLine);
                    }
                    return accumulator;
                }, []);
                const tempEmployeeList = Object.values(response.data.reduce((result, item) => {
                    const value = item.AreaCode + item.LineName + item.SubLine + item.Sitecode;
                    const existing = result[value] || {
                        Sitecode: value, 
                        RayonCodeList: []
                    }
                    return {
                        ...result,
                        [value] : {
                            ...existing,
                            RayonCodeList: [...existing.RayonCodeList, item]
                        }
                    }
                }, {}));
                this.contribution.EmployeeList = tempEmployeeList[0].RayonCodeList;
            }, error => {
                if (error.response.status === 404) {
                    if (error.response.data.code === 'INVALID TOKEN') {
                        localStorage.clear();
                        this.$router.push('/login');
                    } else {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.data.code, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
                if (error.response.status === 500) {
                    this.$toast.add({ 
                        severity: 'error', 
                        summary: error.response.statusText, 
                        detail: error.response.data.message, 
                        life: 3000 
                    });
                }
            });
        },

        onAddEmployee() {
            this.$dialog.open(fieldForceModal, {
                props: {
                    header: 'Field Force List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    liniList: this.liniList,
                    area: this.contribution.area,
                    lini: this.contribution.lini,
                    selectionMode: 'multiple'
                },
                onClose: (options) => {
                    const tempEmployeeList = options.data;
                    if (tempEmployeeList && tempEmployeeList.length > 0) {
                        if (this.contribution.EmployeeList && this.contribution.EmployeeList.length > 0) {
                            let resultDiffer = tempEmployeeList.filter((item) =>
                                !this.contribution.EmployeeList.some((existing) => existing.RayonCode === item.RayonCode));
                            resultDiffer.filter((item) => this.contribution.EmployeeList.push(item));
                        } else {
                            tempEmployeeList.filter((item) => this.contribution.EmployeeList.push(item));
                        }
                    }
                }
            });
        },
        
        onAddCustomer() {
            this.$dialog.open(customerModal, {
                props: {
                    header: 'Customer List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    area: this.contribution.customerArea,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedData = options.data;
                    if (tempSelectedData) {
                        this.contribution.Sitecode = tempSelectedData.Sitecode;
                        this.contribution.OutletName = tempSelectedData.CustName;
                        this.contribution.OutletAddress = tempSelectedData.Address;
                    }
                }
            });
        },

        onSaveData() {
            this.contribution.StartDate = new Date(
                this.contribution.StartDate.getFullYear(),
                this.contribution.StartDate.getMonth(),
                this.contribution.StartDate.getDate());
            this.contribution.EndDate = new Date(
                this.contribution.EndDate.getFullYear(),
                this.contribution.EndDate.getMonth(),
                this.contribution.EndDate.getDate());

                const startPd = Date.parse(this.contribution.StartDate);
                const endPd = Date.parse(this.contribution.EndDate);
                // console.log('start',startPd);
                // console.log('end',endPd);    
            if (startPd > endPd || startPd == endPd) {
                this.errorMessage.push({ 
                    severity: 'error', 
                    content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                });
                return;
            }

            if (this.contribution.StartDate.getDate() !== 1) {
                this.errorMessage.push({ 
                    severity: 'error', 
                    content: 'start date have to selected with early day of the month' 
                });
                return;
            }
            const tempPeriodTo = new Date(
                this.contribution.EndDate.getFullYear(),
                this.contribution.EndDate.getMonth(),
                this.contribution.EndDate.getDate() + 1);
            if (tempPeriodTo.getDate() !== 1) {
                this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                return;
            }
            const tempTotalPartition = this.contribution.EmployeeList
            .reduce((accumulator, tempEmployee) => {return accumulator + new Number(tempEmployee.Partition)}, 0);
            if (tempTotalPartition !== 100) {
                this.errorMessage.push({ severity: 'error', content: 'total Partition accumulated must be 100' });
                return;
            }
            if (!this.contribution.customerArea) {
                this.contribution.customerArea = this.contribution.area;
            }
            this.$confirm.require({
                message: 'Are you sure you want to save data?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/customer-contribution/save', this.contribution)
                    .then(response => {
                        if (this.ActionID !== 0) {
                            this.onCancel();
                        } else {
                            this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                            this.resetForm();
                        }
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        resetForm() {
            this.contribution = {
                area: null,
                lini: null,
                Sitecode: null,
                OutletName: null,
                OutletAddress: null,
                LineProduct: null,
                SubLine: null,
                StartDate: null,
                EndDate: null,
                EmployeeList: []
            };
            this.errorMessage = [];
            this.selectedContributionList = [];
            const today = new Date();
            this.contribution.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
            this.contribution.EndDate = new Date(localStorage.getItem("never_end_date"));
        },
        
        onDeleteData() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    let result = this.contribution.EmployeeList.filter((item) => !this.selectedContributionList.includes(item));
                    this.contribution.EmployeeList = [];
                    result.filter((item) => this.contribution.EmployeeList.push(item));
                    this.selectedContributionList = [];
                    this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                }
            });
        },

        onCancel() {
            this.$router.push({
                name: 'overview-customer-contribution'
            });
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
