<template>
    <Panel header="Input Clinic">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="clinicMap.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="clinicMap.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.RayonCode" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.EmployeeID" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="clinicMap.EmployeeName" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.EmployeePosition" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddEmployee" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="clinicMap.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="clinicMap.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Clinic</label>
            <div class="col">
                <Button icon="pi pi-search" @click="onAddClinic" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button
                    label="Save Data"
                    class="p-button-success mr-3"
                    @click="onSaveData"
                    v-bind:disabled="!(clinicMap.area && clinicMap.lini && clinicMap.RayonCode &&
                    clinicMap.EmployeeID && clinicMap.EmployeeName && clinicMap.EmployeePosition &&
                    clinicMap.StartDate && clinicMap.EndDate && clinicMap.clinicList &&
                    clinicMap.clinicList.length > 0)"
                />
                <Button
                    label="Delete Data"
                    @click="onDeleteData"
                    v-bind:disabled="!(selectedClinicList && selectedClinicList.length > 0)"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="clinicMap.clinicList"
            v-model:selection="selectedClinicList"
            data-key="ClinicCode"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            v-if="clinicMap.clinicList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="AreaName" header="Area Name"></Column>
            <Column field="ClinicCode" header="Clinic Code"></Column>
            <Column field="ClinicName" header="Clinic Name"></Column>
            <Column field="ClinicAddress" header="Clinic Address"></Column>
            <Column header="Start Date">
                <template #body>{{ formatDate(clinicMap.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body>{{ formatDate(clinicMap.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import FieldForceModal from "../Modal/FieldForceModal.vue";
import ClinicModal from "../Modal/ClinicModal.vue";
import moment from 'moment'

export default {
    data() {
        return {
            clinicMap: {
                area: null,
                lini: null,
                RayonCode: null,
                EmployeeID: null,
                EmployeeName: null,
                EmployeePosition: null,
                StartDate: null,
                EndDate: null,
                clinicList: []
            },
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            selectedClinicList: [],
            errorMessage: []
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        const today = new Date();
        this.clinicMap.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        this.clinicMap.EndDate = new Date(localStorage.getItem("never_end_date"));
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddEmployee() {
            const dialogRef = this.$dialog.open(FieldForceModal, {
                props: {
                    header: 'Field Force List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMap.lini,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedEmployee = options.data;
                    if (tempSelectedEmployee) {
                        this.clinicMap.RayonCode = tempSelectedEmployee.RayonCode;
                        this.clinicMap.EmployeeID = tempSelectedEmployee.EmployeeID;
                        this.clinicMap.EmployeeName = tempSelectedEmployee.EmployeeName;
                        this.clinicMap.EmployeePosition = tempSelectedEmployee.EmployeePosition;
                    }
                }
            });
        },
        
        onAddClinic() {
            const dialogRef = this.$dialog.open(ClinicModal, {
                props: {
                    header: 'Clinic List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMap.lini,
                    selectionMode: 'multiple'
                },
                onClose: (options) => {
                    const tempSelectedClinicList = options.data;
                    if (tempSelectedClinicList) {
                        if (this.clinicMap.clinicList && this.clinicMap.clinicList.length > 0) {
                            let resultDiffer = tempSelectedClinicList.filter((item) =>
                                !this.clinicMap.clinicList.some((existing) => existing.ClinicCode === item.ClinicCode));
                            resultDiffer.filter((item) => this.clinicMap.clinicList.push(item));
                        } else {
                            tempSelectedClinicList.filter((item) => this.clinicMap.clinicList.push(item));
                        }
                    }
                }
            });
        },
        
        onDeleteData() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    let result = this.clinicMap.clinicList.filter((item) => !this.selectedClinicList.includes(item));
                    this.clinicMap.clinicList = [];
                    result.filter((item) => this.clinicMap.clinicList.push(item));
                    this.selectedClinicList = [];
                    this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                }
            });
        },
        
        onSaveData() {
            this.$confirm.require({
                message: 'Are you sure you want to save data?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.clinicMap.StartDate = new Date(
                        this.clinicMap.StartDate.getFullYear(),
                        this.clinicMap.StartDate.getMonth(),
                        this.clinicMap.StartDate.getDate());
                    this.clinicMap.EndDate = new Date(
                        this.clinicMap.EndDate.getFullYear(),
                        this.clinicMap.EndDate.getMonth(),
                        this.clinicMap.EndDate.getDate());

                        const startPd = Date.parse(this.clinicMap.StartDate);
                        const endPd = Date.parse(this.clinicMap.EndDate);
                        // console.log('start',startPd);
                        // console.log('end',endPd);    
                    if (startPd > endPd || startPd == endPd) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                        });
                        return;
                    }

                    if (this.clinicMap.StartDate.getDate() !== 1) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'start date have to selected with early day of the month' 
                        });
                        return;
                    }
                    const tempPeriodTo = new Date(
                        this.clinicMap.EndDate.getFullYear(),
                        this.clinicMap.EndDate.getMonth(),
                        this.clinicMap.EndDate.getDate() + 1);
                    if (tempPeriodTo.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                        return;
                    }
                    axiosService.post('/api/field-force-clinic/save', this.clinicMap)
                        .then(
                            response => {
                                this.clinicMap = {
                                    Periode: null,
                                    area: null,
                                    lini: null,
                                    ClinicName: null,
                                    ClinicAddress: null,
                                    StartDate: null,
                                    EndDate: null,
                                    customerList: []
                                }
                                const today = new Date();
                                this.clinicMap.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
                                this.clinicMap.EndDate = new Date(localStorage.getItem("never_end_date"));
                                this.selectedMasterList = [];
                                this.clinicMap.clinicList = [];
                                this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                            },
                            error => {
                                if (error.response.status === 404) {
                                    if (error.response.data.code === 'INVALID TOKEN') {
                                        localStorage.clear();
                                        this.$router.push('/login');
                                    } else {
                                        this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                    }
                                }
                                if (error.response.status === 500) {
                                    this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                                }
                            }
                        );
                }
            });
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
