<template>
    <Panel header="Input Clinic">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="clinicMap.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="clinicMap.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.RayonCode" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.EmployeeID" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="clinicMap.EmployeeName" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.Position" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddEmployee" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Clinic</label>
            <div class="col-2">
                <InputText type="text" v-model="clinicMap.ClinicCode" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="clinicMap.ClinicName" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddClinic" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Clinic Map Status</label>
            <div class="col">
                <Dropdown v-model="clinicMap.status" :options="statusList" optionLabel="name"
                optionValue="name" emptyMessage="No Data Found" placeholder="- Select -" class="col-4" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Search Data" class="p-button-primary mr-3" @click="onSearchData" :loading="loading[2]" />
                <Button icon="pi pi-external-link" label="Export" @click="exportCSV($event)" />
            </div>
        </div>
        <DataTable :value="clinicList" data-key="ClinicCode"
        :lazy="true" :paginator="true" :rows="10"
        :totalRecords="totalRecords" :loading="loading[2]" @page="onPage($event)"
        v-if="clinicList.length > 0" ref="dt">
            <Column field="ClinicCode" header="Clinic Code"></Column>
            <Column field="ClinicName" header="Clinic Name"></Column>
            <Column field="RayonCode" header="Rayon Code"></Column>
            <Column field="StartDate" header="Start Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.StartDate) }}</template>
            </Column>
            <Column field="EndDate" header="End Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.EndDate) }}</template>
            </Column>
            <Column field="status" header="Status"></Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "../../services/axios";
import moment from 'moment'
import FieldForceModal from "../Modal/FieldForceModal.vue";
import ClinicModal from "../Modal/ClinicModal.vue";

export default {
    data() {
        return {
            clinicMap: {
                area: null,
                lini: null,
                RayonCode: null,
                EmployeeID: null,
                EmployeeName: null,
                EmployeePosition: null,
                ClinicCode: null,
                ClinicName: null,
                status: null
            },
            clinicList: [],
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            statusList:[ 
                {name: 'Non Active'},
                {name: 'Active'}
            ],
            selectedClinicList: null,
            errorMessage: [],
            lazyParams: {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            },
            totalRecords: null
        }
    },

    created() {
        this.onLoadArea();
        this.onLoadLine();
    },

    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddEmployee() {
            const dialogRef = this.$dialog.open(FieldForceModal, {
                props: {
                    header: 'Field Force List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints: {
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMap.lini,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedEmployee = options.data;
                    if (tempSelectedEmployee) {
                        this.clinicMap.RayonCode = tempSelectedEmployee.RayonCode;
                        this.clinicMap.EmployeeID = tempSelectedEmployee.EmployeeID;
                        this.clinicMap.EmployeeName = tempSelectedEmployee.EmployeeName;
                        this.clinicMap.EmployeePosition = tempSelectedEmployee.EmployeePosition;
                    }
                }
            });
        },

        onAddClinic() {
            const dialogRef = this.$dialog.open(ClinicModal, {
                props: {
                    header: 'Clinic List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints: {
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMap.lini,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedEmployee = options.data;
                    if (tempSelectedEmployee) {
                        this.clinicMap.ClinicCode = tempSelectedEmployee.ClinicCode;
                        this.clinicMap.ClinicName = tempSelectedEmployee.ClinicName;
                    }
                }
            });
        },

        loadLazyData() {
            axiosService.post('/api/field-force-clinic/search', {
                data: this.clinicMap,
                pageSetting: this.lazyParams
            })
            .then(
                response => {
                    this.clinicList = response.data;

                    if (response.data && response.data.length > 0) {
                        this.totalRecords = response.data[0].totalRows;
                    }
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        },

        onSearchData() {
            this.loadLazyData();
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },
        
        exportCSV() {
            this.$refs.dt.exportCSV();
        }
    }
}
</script>
