<template>
    <Panel header="Claim Sales Panel">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col-6">
                <Dropdown
                    v-model="salesMap.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="salesMap.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
		<div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period</label>
            <div class="col-4 lg:col-2">
                <InputText type="text" v-model="Periode" class="w-full" :disabled="true" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Channel</label>
            <div class="col">
                <Dropdown
                    v-model="salesMap.channel"
                    :options="channelList"
                    optionLabel="ChannelName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[2]" @click="onLoadChannel" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col-2">
                <InputText type="text" v-model="salesMap.RayonCode" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="salesMap.EmployeeID" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="salesMap.EmployeeName" class="w-full" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="salesMap.EmployeePosition" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddEmployee" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Overview Claim Sales " class="p-button-primary" @click="onShowClaimSales"/>
            </div>
        </div>
    </Panel>
    <Panel>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Customer</label>
            <div class="col-3">
                <InputText type="text" v-model="salesMap.Sitecode" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="salesMap.OutletName" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddCustomerPanel" />
			</div>
        </div> 
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Claim Sales for Clinic</label>
            <div class="col-3">
                <InputText type="text" v-model="salesMap.ClinicCode" class="w-full" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="salesMap.ClinicName" class="w-full" />
            </div>
            <div class="col-1">
                <Button icon="pi pi-search" @click="onAddClinicMapping" />
			</div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Open Sales" class="p-button-danger mr-3" @click="onOpenSales"/>
                <Button label="Save" class="p-button-success mr-3" @click="onSaveData"/>
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable :value="salesList" v-model:filters="filters" :paginator="true" :rows="10" responsiveLayout="scroll"
        rowGroupMode="subheader" groupRowsBy="Invoice" sortMode="single" sortField="Invoice" :sortOrder="1"
        editMode="cell" @cell-edit-complete="onCellEditComplete" filterDisplay="row"
        v-if="salesList.length > 0">
            <Column field="Invoice" header="Representative"></Column>
            <Column field="InvoiceID" header="Invoice ID" sortable filter header-style="min-width:7rem"></Column>
            <Column field="AreaCode" header="Area" sortable filter></Column>
            <Column field="ProductID" header="Product ID" sortable filter header-style="min-width:15rem">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText v-model="filterModel.value" v-tooltip.top.focus="'Hit enter key to filter'" type="text" 
                    @keydown.enter="filterCallback()" class="p-column-filter" />
                </template>
            </Column>
            <Column field="ProductName" header="Product Name" sortable filter header-style="min-width:20rem">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText v-model="filterModel.value" v-tooltip.top.focus="'Hit enter key to filter'" type="text" 
                    @keydown.enter="filterCallback()" class="p-column-filter" />
                </template>
            </Column>
            <Column field="StatusFaktur" header="Status Faktur" sortable filter></Column>
            <Column field="PriceSales" header="List Price" dataType="numeric" sortable filter>
                <template #body="{ data }">
                    <span>{{ formatCurrency(data.PriceSales) }}</span>
                </template>
            </Column>
            <Column field="UnitSales" header="Unit Sales" dataType="numeric" sortable filter></Column>
            <Column field="ClaimedUnit" header="Claimed Unit" dataType="numeric" sortable filter></Column>
            <Column field="AvailableUnit" header="Available Unit" dataType="numeric" sortable filter></Column>
            <Column field="EditUnit" header="Claim">
                <template #editor="{ data, field }">
                    <InputNumber v-model="data[field]" :min="-10000" :max="10000" style="min-width:3vw" />
                </template>
            </Column>
            <Column field="Remark" header="Remark">
                <template #editor="{ data, field }">
                    <Textarea v-model="data[field]" rows="5" cols="30" />
                </template>
            </Column>
            <template #groupheader="slotProps">
                <div class="flex align-items-center gap-2">
                    <span>{{ slotProps.data.Invoice }}</span>
                </div>
            </template>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import fieldForceModal from "../Modal/FieldForceModal.vue";
import customerPanelModal from "../Modal/CustomerPanelModal.vue";
import clinicMappingModal from "../Modal/ClinicMappingModal.vue";
import moment from 'moment';
import { FilterMatchMode } from 'primevue/api';
import overviewClaimModal from "./OverviewClaimModal.vue";

export default {
    data() {
        return {
            salesMap: {
                area: null,
                lini: null,
                channel: null,
                RayonCode: null,
                EmployeeID: null,
                EmployeeName: null,
                EmployeePosition: null,
                Sitecode: null,
                OutletName: null,
                ClinicCode: null,
                ClinicName: null,
                claimSalesList: []
            },
            salesList: [],
            StartDate: null,
            EndDate: null,
            Periode: localStorage.getItem("period_incentive"),
            loading: [false, false, false, false],
            areaList: [],
            liniList: [],
            channelList: [],
            errorMessage: [],
            filters: {
                InvoiceID: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                AreaCode: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ProductID: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ProductName: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                StatusFaktur: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                PriceSales: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                UnitSales: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ClaimedUnit: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                AvailableUnit: { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            }
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        this.onLoadChannel();
        const today = new Date();
        this.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        this.EndDate = new Date(localStorage.getItem("never_end_date"));
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onLoadChannel() {
            const tempChannelList = localStorage.getItem("ChannelList");
            if (tempChannelList) {
                this.channelList = JSON.parse(tempChannelList);
            } else {
                this.loading[2] = true;
                axiosService.post('/api/dexaapi/channel/list', {})
                .then(
                    response => {
                        this.loading[2] = false;
                        this.channelList = response.data;
                        localStorage.setItem("ChannelList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[2] = false;
                        this.channelList = [{
                            ChannelID: '',
                            ChannelCode: "",
                            ChannelName: "No Data Found",
                            GroupName: ""
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddEmployee() {
            const dialogRef = this.$dialog.open(fieldForceModal, {
                props: {
                    header: 'Field Force List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    areaList: this.areaList,
                    liniList: this.liniList,
                    area: this.salesMap.area,
                    lini: this.salesMap.lini,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedEmployee = options.data;
                    if (tempSelectedEmployee) {
                        this.salesMap.RayonCode = tempSelectedEmployee.RayonCode;
                        this.salesMap.EmployeeID = tempSelectedEmployee.EmployeeID;
                        this.salesMap.EmployeeName = tempSelectedEmployee.EmployeeName;
                        this.salesMap.EmployeePosition = tempSelectedEmployee.EmployeePosition;
                    }
                }
            });
        },
        
        onAddCustomerPanel() {
            const dialogRef = this.$dialog.open(customerPanelModal, {
                props: {
                    header: 'Customer Panel List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.salesMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.salesMap.lini,
                    customerAreaList: this.areaList,
                    channel: this.salesMap.channel,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempselectedData = options.data;
                    if (tempselectedData) {
                        this.salesMap.Sitecode = tempselectedData.Sitecode;
                        this.salesMap.OutletName = tempselectedData.OutletName;
                    }
                }
            });
        },
        
        onAddClinicMapping() {
            const dialogRef = this.$dialog.open(clinicMappingModal, {
                props: {
                    header: 'Clinic Mapping List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.salesMap.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.salesMap.lini,
                    RayonCode: this.salesMap.RayonCode,
                    EmployeeID: this.salesMap.EmployeeID,
                    EmployeeName: this.salesMap.EmployeeName,
                    EmployeePosition: this.salesMap.EmployeePosition,
                    StartDate: this.StartDate,
                    EndDate: this.EndDate,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempselectedData = options.data;
                    if (tempselectedData) {
                        this.salesMap.ClinicCode = tempselectedData.ClinicCode;
                        this.salesMap.ClinicName = tempselectedData.ClinicName;
                    }
                }
            });
        },

        onShowClaimSales() {
            const dialogRef = this.$dialog.open(overviewClaimModal, {
                props: {
                    header: 'Overview Claim Sales List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.salesMap.area,
                    lini: this.salesMap.lini,
                    channel: this.salesMap.channel,
                    RayonCode: this.salesMap.RayonCode,
                    EmployeeID: this.salesMap.EmployeeID,
                    EmployeeName: this.salesMap.EmployeeName,
                    EmployeePosition: this.salesMap.EmployeePosition
                },
                onClose: (options) => {
                    //
                }
            });
        },

        onCellEditComplete(event) {
            let { newData } = event;
            const tempOldDataIndex = this.salesList.findIndex(item => item.ProductID === newData.ProductID && 
            item.Invoice === newData.Invoice && item.InvoiceID === newData.InvoiceID);
            this.salesList[tempOldDataIndex] = newData;
            const tempSelectedIndex = this.salesMap.claimSalesList.findIndex(item => item.ProductID === newData.ProductID && 
            item.Invoice === newData.Invoice && item.InvoiceID === newData.InvoiceID);
            if (tempSelectedIndex !== -1) {
                this.salesMap.claimSalesList[tempSelectedIndex] = newData;
            } else {
                this.salesMap.claimSalesList.push(newData);
            }
        },

        onSaveData() {
            if (this.salesMap.claimSalesList && this.salesMap.claimSalesList.length > 0) {
                for (const tempData of this.salesMap.claimSalesList) {
                    if (tempData.EditUnit === 0) {
                        this.errorMessage.push({ severity: 'error', content: 'Claim Unit tidak boleh 0' });
                        return;
                    }
                    if (tempData.AvailableUnit < 0 && tempData.EditUnit < tempData.AvailableUnit) {
                        this.errorMessage.push({ severity: 'error', content: 'Claim Unit tidak boleh melebihi Available Unit' });
                        return;
                    }
                    if (tempData.AvailableUnit > 0 && tempData.EditUnit > tempData.AvailableUnit) {
                        this.errorMessage.push({ severity: 'error', content: 'Claim Unit tidak boleh melebihi Available Unit' });
                        return;
                    }
                }
            }
            this.$confirm.require({
                message: 'Are you sure you want to save data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/claim-sales-panel/save', this.salesMap)
                    .then(
                        response => {
                            this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                            this.salesMap = {
                                area: null,
                                lini: null,
                                channel: null,
                                RayonCode: null,
                                EmployeeID: null,
                                EmployeeName: null,
                                EmployeePosition: null,
                                Sitecode: null,
                                OutletName: null,
                                ClinicCode: null,
                                ClinicName: null,
                                claimSalesList: []
                            };
                            this.salesList = [];
                            this.errorMessage = [];
                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                }
                            }
                            if (error.response.status === 500) {
                                this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                            }
                        }
                    );
                }
            });
        },

        formatCurrency(value) {
            if (value && Number.isNaN(value) == false) {
                return value.toLocaleString('in-ID', {style: 'currency', currency: 'IDR'});
            }
            return value;
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },

        onOpenSales() {
            axiosService.post('/api/claim-sales-panel/searchsales', this.salesMap)
            .then(
                response => {
                    this.salesList = response.data;
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        }

    }
}
</script>

