<template>
    <Panel header="Overview Claim Sales List">
        <DataTable :value="claimDataList" v-model:filters="filters" :paginator="true" :rows="10" responsiveLayout="scroll"
        rowGroupMode="subheader" groupRowsBy="Invoice" sortMode="single" sortField="Invoice" :sortOrder="1"
        editMode="cell" @cell-edit-complete="onCellEditComplete" filterDisplay="row">
            <Column field="Invoice" header="Representative"></Column>
            <Column field="InvoiceID" header="Invoice ID" sortable filter header-style="min-width:7rem"></Column>
            <Column field="AreaCode" header="Area" sortable filter></Column>
            <Column field="ProductID" header="Product ID" sortable filter header-style="min-width:15rem">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText v-model="filterModel.value" v-tooltip.top.focus="'Hit enter key to filter'" type="text" 
                    @keydown.enter="filterCallback()" class="p-column-filter" />
                </template>
            </Column>
            <Column field="ProductName" header="Product Name" sortable filter header-style="min-width:20rem">
                <template #filter="{ filterModel, filterCallback }">
                    <InputText v-model="filterModel.value" v-tooltip.top.focus="'Hit enter key to filter'" type="text" 
                    @keydown.enter="filterCallback()" class="p-column-filter" />
                </template>
            </Column>
            <Column field="StatusFaktur" header="Status Faktur" sortable filter></Column>
            <Column field="PriceSales" header="List Price" dataType="numeric" sortable filter>
                <template #body="{ data }">
                    <span>{{ formatCurrency(data.PriceSales) }}</span>
                </template>
            </Column>
            <Column field="UnitSales" header="Unit Sales" dataType="numeric" sortable filter></Column>
            <Column field="ValueSales" header="Value Sales" dataType="numeric" sortable filter>
                <template #body="{ data }">
                    <span>{{ formatCurrency(data.ValueSales) }}</span>
                </template>
            </Column>
            <Column field="Remark" header="Remark">
                <template #editor="{ data, field }">
                    <Textarea v-model="data[field]" rows="5" cols="30" />
                </template>
            </Column>
            <template #groupheader="slotProps">
                <div class="flex align-items-center gap-2">
                    <span>{{ slotProps.data.Invoice }}</span>
                </div>
            </template>
        </DataTable>
    </Panel>
</template>

<script>

import moment from "moment";
import axiosService from "../../services/axios";
import { FilterMatchMode } from 'primevue/api';

export default {
    inject: ['dialogRef'],
    data() {
        return {
            claimDataMap: {
                area: this.dialogRef.data.area,
                lini: this.dialogRef.data.lini,
                channel: this.dialogRef.data.channel,
                RayonCode: this.dialogRef.data.RayonCode,
                EmployeeID: this.dialogRef.data.EmployeeID,
                EmployeeName: this.dialogRef.data.EmployeeName,
                EmployeePosition: this.dialogRef.data.EmployeePosition,
            },
            claimDataList: [],
            filters: {
                InvoiceID: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                AreaCode: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ProductID: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ProductName: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                StatusFaktur: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                PriceSales: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                UnitSales: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                ClaimedUnit: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
                AvailableUnit: { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            }
        }
    },

    created() {
        this.onSearchData();
    },

    methods: {
        onSearchData() {
            axiosService.post('/api/claim-sales-panel/searchclaim', this.claimDataMap)
            .then(
                response => {
                    this.claimDataList = response.data;
                },
                error => {
                    this.claimDataList = [];
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        },

        formatCurrency(value) {
            if (value && Number.isNaN(value) == false) {
                return value.toLocaleString('in-ID', {style: 'currency', currency: 'IDR'});
            }
            return value;
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
