<template>
    <Panel header="Create Incentive Scheme">
        <div class="grid formgrid">
            <div class="field col-12 md:col-3">
                <label class="text-sm w-10">Line</label>
                <Dropdown v-model="BodyData.lini" :options="liniList" optionLabel="LineName"
                    emptyMessage="No Data Found" placeholder="- Select -" class="col-10 md:col-10"
                    :disabled="(ActionID == 1 || ActionID == 2 || ActionID == 4) ? true : false" />
                <Button icon="pi pi-search" :loading="loading" @click="onLoadLineList" />
            </div>

            <div class="field col-12 md:col-3">
                <label class="text-sm w-10">Periode Awal</label>
                <Calendar v-model="BodyData.StartDate" :showIcon="(ActionID !== 1) ? true : false" :manualInput="false"
                    dateFormat="dd/mm/yy" :disabled="(ActionID == 1 || ActionID == 4) ? true : false" />
            </div>
            <div class="field col-12 md:col-3">
                <label class="text-sm w-10">Periode Akhir</label>
                <Calendar v-model="BodyData.EndDate" :showIcon="(ActionID !== 1) ? true : false" :manualInput="false"
                    dateFormat="dd/mm/yy" :disabled="(ActionID == 1) ? true : false" />
            </div>
            <!-- <div class="field col-12 md:col-3" v-if="ActionID == 0 || ActionID == 3">
                <label class="text-sm w-10">Scheme</label>
                <Button label="Choose Scheme" icon="pi pi-plus" class="p-button-danger"></Button>
            </div> -->
        </div>

        <div class="p-fluid grid formgrid">
            <div class="col">
                <DataView :value="BodyData.monthlyList" layout="list" :paginator="false">
                    <template #header>
                        <label class="font-bold w-10 text-xl w-10">Monthly Scheme</label>
                    </template>
                    <template #list="slotProps">
                        <div class="flex-column col-4 sm:col-4 pt-3 pr-3">
                            <Dropdown v-model="slotProps.data.SchemaId" :options="monthlyDataList"
                            optionLabel="SchemaName" optionValue="SchemaId"
                            emptyMessage="No Data Found" placeholder="- Select -"
                            :disabled="(ActionID == 1 || ActionID == 2 || ActionID == 4) ? true : false" />
                        </div>
                        <div class="flex-column col-5 sm:col-5 pt-3 pr-3">
                            <InputText type="text" v-model="slotProps.data.SchemaLabel" class="w-full"
                            :disabled="(ActionID == 1 || ActionID == 2 || ActionID == 4) ? true : false" />
                        </div>
                        <div class="flex-column col-2 sm:col-2 pt-3" 
                        v-if="ActionID == 0 || ActionID == 3">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text mr-2"
                                @click="onEditData(slotProps.data)" />
                            <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                                @click="onDeleteMonthly(slotProps.data)" />
                        </div>
                    </template>
                    <template #footer>
                        <div class="col-3">
                            <Button label="Add New Scheme" icon="pi pi-plus" class="p-button-secondary text-center"
                            @click="onAddMonthly" v-if="ActionID == 0 || ActionID == 3"></Button>
                        </div>
                    </template>
                </DataView>

                <DataView :value="BodyData.quarterList" layout="list" :paginator="false">
                    <template #header>
                        <label class="font-bold w-10 text-xl w-10">Quarter Scheme</label>
                    </template>
                    <template #list="slotProps">
                        <div class="flex-column col-4 sm:col-4 pt-3 pr-3">
                            <Dropdown v-model="slotProps.data.SchemaId" :options="quarterDataList"
                            optionLabel="SchemaName" optionValue="SchemaId"
                            emptyMessage="No Data Found" placeholder="- Select -"
                            :disabled="(ActionID == 1 || ActionID == 2 || ActionID == 4) ? true : false" />
                        </div>
                        <div class="flex-column col-5 sm:col-5 pt-3 pr-3">
                            <InputText type="text" v-model="slotProps.data.SchemaLabel" class="w-full"
                            :disabled="(ActionID == 1 || ActionID == 2 || ActionID == 4) ? true : false" />
                        </div>
                        <div class="flex-column col-2 sm:col-2 pt-3" v-if="ActionID == 0 || ActionID == 3">
                            <Button icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text mr-2"
                                @click="onEditData(slotProps.data)" />
                            <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                                @click="onDeleteQuarter(slotProps.data)" />
                        </div>
                    </template>
                    <template #footer>
                        <div class="col-3">
                            <Button label="Add New Scheme" icon="pi pi-plus" class="p-button-secondary"
                            @click="onAddQuarter" v-if="ActionID == 0 || ActionID == 3"></Button>
                        </div>
                    </template>
                </DataView>
            </div>
        </div>
        <div class="flex justify-content-end">
            <Button label="Back" class="p-button-secondary mr-3" @click="onBackData" />
            <Button label="Save As Draft" class="p-button-success mr-3" @click="onSaveDraft"
                v-if="ActionID == 0 || ActionID == 2 || ActionID == 3" />
            <Button label="Save" class="p-button-success mr-3" @click="onSaveData"
                v-if="ActionID == 0 || ActionID == 2 || ActionID == 3 || ActionID == 4" />
        </div>
    </Panel>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';

export default {

    data() {
        return {
            BodyData: {
                SchemeConfigId: null,
                lini: null,
                StartDate: null,
                EndDate: null,
                monthlyList: [],
                quarterList: []
            },
            loading: false,
            liniList: [],
            errorMessage: [],
            monthlyDataList: [],
            quarterDataList: [],
            ActionID: localStorage.getItem("ActionID")
        }
    },
    created() {
        this.onLoadLineList();
        this.onLoadSchemaList();
        this.onLoadBodyData();
    },
    methods: {
        onLoadLineList() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                        if (this.BodyData.lini) {
                            //
                        } else {
                            if (this.SchemeConfig && this.SchemeConfig.LineID) {
                                const tempLineID = this.SchemeConfig.LineID;
                                this.liniList.forEach(item => {
                                    if (item.LineID == tempLineID) {
                                        this.BodyData.lini = item;
                                    }
                                });
                            }
                        }
                    },
                    error => {
                        this.loading = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                            }
                        }
                        if (error.response.status === 500 || error.response.status === 502) {
                            this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                        }
                    }
                );
            }
        },

        onLoadSchemaList() {
            const tempSchemaList = localStorage.getItem("SchemaList");
            if (tempSchemaList) {
                const schemaList = JSON.parse(tempSchemaList);
                this.monthlyDataList = schemaList.filter(item => 
                item.SchemeType === 1 || item.SchemeType === 0);
                this.quarterDataList = schemaList.filter(item => 
                item.SchemeType === 2 || item.SchemeType === 0);
            } else {
                axiosService.get('/api/scheme/SchemaList')
                .then(
                    response => {
                        localStorage.setItem("SchemaList", JSON.stringify(response.data));
                        this.monthlyDataList = response.data.filter(item => 
                        item.SchemeType === 1 || item.SchemeType === 0);
                        this.quarterDataList = response.data.filter(item => 
                        item.SchemeType === 2 || item.SchemeType === 0);
                    },
                    error => {
                        this.monthlyDataList = [{
                            SchemaId: '',
                            SchemaName: "No Data Found"
                        }];
                        this.quarterDataList = [{
                            SchemaId: '',
                            SchemaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                        }
                    }
                );
            }
        },

        onLoadSchemaListBySchemaConfigId() {
            axiosService.post('/api/schemeconfig/schemaList', this.BodyData).then(
                response => {
                    this.BodyData.monthlyList = response.data.filter(monthly => monthly.SchemeType === 1);
                    this.BodyData.quarterList = response.data.filter(monthly => monthly.SchemeType === 2);
                }
            );
        },

        onLoadBodyData() {
            const tempBodyData = localStorage.getItem("BodyData");
            const tempSchemeConfig = localStorage.getItem("SchemeConfig");
            if (tempBodyData) {
                this.BodyData = JSON.parse(tempBodyData);
                this.BodyData.StartDate = new Date(this.BodyData.StartDate);
                this.BodyData.EndDate = new Date(this.BodyData.EndDate);
            } else if (!tempBodyData && tempSchemeConfig) {
                const schemeConfig = JSON.parse(tempSchemeConfig);
                this.BodyData.SchemeConfigId = schemeConfig.SchemeConfigId;
                this.BodyData.lini = {
                    LineID: schemeConfig.LineID,
                    LineName: schemeConfig.LineName
                };
                this.BodyData.StartDate = new Date(schemeConfig.StartDate);
                this.BodyData.EndDate = new Date(schemeConfig.EndDate);
                this.onLoadSchemaListBySchemaConfigId();
            } else {
                const today = new Date();
                const startDate = new Date(today.getFullYear(), today.getMonth(), 1);
                const endDate = new Date(localStorage.getItem("never_end_date"));
                this.BodyData.StartDate = startDate;
                this.BodyData.EndDate = endDate;
            }
        },

        onAddMonthly() {
            this.BodyData.monthlyList.push({SchemeType: 1});
        },
        onDeleteMonthly(monthlyData) {
            this.BodyData.monthlyList = this.BodyData.monthlyList.filter(val => val !== monthlyData);   
        },
        onAddQuarter() {
            this.BodyData.quarterList.push({SchemeType: 2});
        },
        onDeleteQuarter(quarterData) {
            this.BodyData.quarterList = this.BodyData.quarterList.filter(val => val !== quarterData);   
        },
        onEditData(schemeData) {
            localStorage.setItem('BodyData', JSON.stringify(this.BodyData));
            localStorage.setItem('Schema', JSON.stringify(schemeData));
            localStorage.setItem('ActionID', this.ActionID);
            localStorage.removeItem("SchemeConfig");
            this.$router.push({
                name: 'EditScheme'
            });
        },
        onBackData() {
            this.$router.push('/incentiveconfig');
        },
        onSaveData() {
            this.BodyData.StartDate = new Date(
                this.BodyData.StartDate.getFullYear(),
                this.BodyData.StartDate.getMonth(),
                this.BodyData.StartDate.getDate());
            this.BodyData.EndDate = new Date(
                this.BodyData.EndDate.getFullYear(),
                this.BodyData.EndDate.getMonth(),
                this.BodyData.EndDate.getDate());

                const startPd = Date.parse(this.BodyData.StartDate);
                const endPd = Date.parse(this.BodyData.EndDate);
                    // console.log('start',startPd);
                    // console.log('end',endPd);    
                if (startPd > endPd || startPd == endPd) {
                    this.errorMessage.push({ 
                        severity: 'error', 
                        content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                    });
                    return;
                }

            this.BodyData.Status = 3;
            let urlToSubmit = '/api/schemeconfig/save';
            if (this.ActionID == 3) {
                urlToSubmit = '/api/schemeconfig/edit';
            } else if (this.ActionID == 4) {
                this.BodyData.Status = 2;
                urlToSubmit = '/api/schemeconfig/cutoff';
            }
            axiosService.post(urlToSubmit, this.BodyData).then(
                response => {
                    this.$router.push('/incentiveconfig');
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                        }
                    }
                    if (error.response.status === 500) {
                        this.errorMessage.push({ severity: 'error', content: error.response.data.message });
                        this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                    }
                }
            );
        },
        onSaveDraft() {
            this.BodyData.StartDate = new Date(
                this.BodyData.StartDate.getFullYear(),
                this.BodyData.StartDate.getMonth(),
                this.BodyData.StartDate.getDate());
            this.BodyData.EndDate = new Date(
                this.BodyData.EndDate.getFullYear(),
                this.BodyData.EndDate.getMonth(),
                this.BodyData.EndDate.getDate());
            
                const startPd = Date.parse(this.BodyData.StartDate);
                const endPd = Date.parse(this.BodyData.EndDate);
                    // console.log('start',startPd);
                    // console.log('end',endPd);    
                if (startPd > endPd || startPd == endPd) {
                    this.errorMessage.push({ 
                        severity: 'error', 
                        content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                    });
                    return;
                }
                
            this.BodyData.Status = 1;
            let urlToSubmit = '/api/schemeconfig/save';
            if (this.ActionID == 3) {
                urlToSubmit = '/api/schemeconfig/edit';
            }
            axiosService.post(urlToSubmit, this.BodyData)
                .then(
                    response => {
                        this.$router.push('/incentiveconfig');
                    },
                    error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                        }
                    }
                );
        },
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
