<template>
    <Dialog header="  " v-model:visible="displayModal" class="w-10" :modal="true">
        <Panel header="Detail List">
            <div class="field grid">
            <div class="grid formgrid">
            <label class="col-fixed col-5 text-sm font-bold w-10">Total Incentive</label>
            <label class="col-fixed col-5 text-xl font-bold w-10">{{ preSimulationList.TotalIncentive }}</label>
        </div>
            </div>
        <div class="field grid">
            <label class="col-fixed col-3">Suppos</label>
            <label class="col-fixed col-5">{{ preSimulationList.Suppos }}</label>
        </div>
        <div class="field grid">
            <label class="col-fixed col-3">Sales</label>
            <label class="col-fixed col-5">{{ preSimulationList.Sales }}</label>
        </div>
        <div class="field grid">
            <label class="col-fixed col-3">Target</label>
            <label class="col-fixed col-5">{{ preSimulationList.Target }}</label>
        </div>
        <div class="field grid">
            <label class="col-fixed col-3">A/T</label>
            <label class="col-fixed col-5">{{ preSimulationList.AT }}</label>
        </div>
            
        </Panel>
        <template #footer>
                <Button label="Export" icon="pi pi-download" @click="exportBasic" class="p-button-text"/>
            </template>
    </Dialog>
</template>

<script>


export default {
    expose: ['displayModal','preSimulationList'],
    data() {
        return {
            displayModal: false,
            preSimulationList: null,
        }
    },
    methods: {
        onDetailSelect() {
            
        }
    }
    
}
</script>
