<template>
  <h5>{{Schema.SchemaLabel}}</h5>
  <Panel header="Filter Tarikan Data">
    <div v-for="(tarikan, indexTarikan) in Schema.tarikanList" :key="indexTarikan" class="formgrid grid">
      <div class="field col-fixed">
        <Dropdown v-model="tarikan.Operator" :options="operator1List" optionLabel="code"
        optionValue="code" emptyMessage="No Data Found" placeholder="- Select -" class="w-6rem" />
      </div>
      <div class="field col-fixed field-checkbox">
          <Checkbox inputId="'Flag' + indexTarikan" v-model="tarikan.FlagInclude" :binary="true"/>
          <label for="'Flag' + indexTarikan" class="pt-2">{{tarikan.FlagInclude ? 'INCLUDE' : 'EXCLUDE'}}</label>
      </div>
      <div class="field col-4">
        <Dropdown v-model="tarikan.FilterCode" :options="filterCodeList" optionLabel="Name" optionValue="Code"
        emptyMessage="No Data Found" placeholder="- Select -" class="w-full" 
        @change="onChangeFilterParameter(tarikan)" />
      </div>
      <div class="field col-fixed">
        <Button icon="pi pi-check" class="p-button-rounded p-button-primary p-button-text"
        v-tooltip.top="'Save Filter Tarikan'" @click="onSaveTarikanData(tarikan)" v-if="tarikan.isEdit" />
        <Button icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text"
        v-tooltip.top="'Edit Filter Tarikan'" @click="onEditTarikanData(tarikan)" 
        v-if="('isEdit' in tarikan) == false || tarikan.isEdit == false" />
        <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
        v-tooltip.top="'Delete Filter Tarikan'" @click="onDeleteTarikanData(tarikan)" />
      </div>
      <div class="field w-full">
        <div class="field col-fixed field-checkbox" v-if="(tarikan.FilterCode === 'ProductGroupDesc' || tarikan.FilterCode === 'ProductDesc') && tarikan.isEdit == true">
            <Checkbox inputId="'GroupHeader' + indexTarikan" v-model="tarikan.FlagGroupHeader" :binary="true" @change="onChangeGroupHeader(tarikan)"/>
            <label for="'GroupHeader' + indexTarikan" class="pt-2 w-13rem">{{tarikan.FlagGroupHeader ? 'USE GROUP HEADER' : 'NOT USING GROUP HEADER'}}</label>
        </div>
        <CustomPickList v-model="tarikan.FilterValueList" :useGroupHeader="tarikan.FlagGroupHeader" v-if="tarikan.isEdit == true" >
          <template #item="slotProps">
            <div>
              <span v-if="slotProps.item.ProductID">{{ slotProps.item.ProductID }} - </span>
              <span>{{ slotProps.item.FilterValue }}</span>
            </div>
          </template>
        </CustomPickList>
      </div>
    </div>
    <div class="ml-3">
      <Button label="Add New Filter" icon="pi pi-plus" class="p-button-secondary" @click="onAddTarikanData"/>
    </div>
  </Panel>

  <panel header="Filter Parameter" class="pt-3">
    <div v-for="(header, indexHeader) in Schema.parameterList" :key="header.recordNo">
      <div class="formgrid grid">
        <div class="field col-fixed pt-2">{{indexHeader + 1}}</div>
        <div class="field col-fixed">
          <Dropdown v-model="header.Operator1" :options="operator1List" optionLabel="code"
          optionValue="code" emptyMessage="No Data Found" placeholder="- Select -" class="w-6rem" />
        </div>
        <div class="field col-3">
          <Dropdown v-model="header.TargetType" :options="targetPasswordList" optionLabel="Name"
          optionValue="Code" emptyMessage="No Data Found" placeholder="- Select -" class="w-full" />
        </div>
        <div class="field col-fixed w-9rem">
          <Dropdown v-model="header.Operator2" :options="operator2List" optionLabel="code" optionValue="code" 
          emptyMessage="No Data Found" placeholder="- Select -" class="w-full" />
        </div>
        <div class="field col-fixed w-8rem">
          <InputText type="text" v-model="header.ValueFrom" class="w-full" />
        </div>
        <div class="field col-fixed w-8rem" v-if="header.Operator2 == 'between'">
          <InputText type="text" v-model="header.ValueTo" class="w-full" />
        </div>
        <div class="field col-fixed">        
          <Button icon="pi pi-plus" class="p-button-rounded p-button-primary p-button-text"
          v-tooltip.top="'Add Detail'" @click="onAddSubIncentive(header)" />
          <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
          v-tooltip.top="'Delete Password'" @click="onDeleteIncentive(header)" />
        </div>
      </div>
      <div v-for="(detail, indexDetail) in header.itemList" :key="indexDetail" class="formgrid grid">
        <div class="field col-fixed w-3rem"></div>
        <div class="field col-fixed">
          <Dropdown v-model="detail.Operator1" :options="operator1List" optionLabel="code"
          optionValue="code" emptyMessage="No Data Found" placeholder="- Select -" class="w-full" />
        </div>
        <div class="field col-3">
          <Dropdown v-model="detail.TargetType" :options="targetConditionList" optionLabel="Name"
          optionValue="Code" emptyMessage="No Data Found" placeholder="- Select -" class="w-full" />
        </div>
        <div class="field col-fixed w-9rem">
          <Dropdown v-model="detail.Operator2" :options="operator2List" optionLabel="code" optionValue="code" 
          emptyMessage="No Data Found" placeholder="- Select -" class="w-full" />
        </div>
        <div class="field col-fixed w-8rem">
          <InputText type="text" v-model="detail.ValueFrom" class="w-full" />
        </div>
        <div class="field col-fixed w-8rem" v-if="detail.Operator2 == 'between'">
          <InputText type="text" v-model="detail.ValueTo" class="w-full" />
        </div>
        <div class="field col-fixed w-8rem">
          <InputText type="text" v-model="detail.Bonus" class="w-full" />
        </div>
        <div class="field col-fixed">
          <Button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
          v-tooltip.top="'Delete Password'" @click="onDeleteSubIncentive(header, detail)" />
        </div>
      </div>
    </div>
    
    <div class="ml-3">
      <Button label="Add New Incentive" icon="pi pi-plus" class="p-button-secondary" @click="onAddIncentive"/>
    </div>    
  </panel>

  <div class="flex justify-content-end py-3">
    <Button label="Cancel" class="p-button-secondary mr-3" @click="onBackData" />
    <Button label="Save Filter" class="p-button-success mr-3" @click="onSaveData" />
  </div>
</template>

<script>

import axiosService from "./../../services/axios";

export default {
  data() {
    return {
      BodyData: JSON.parse(localStorage.getItem("BodyData")),
      Schema: JSON.parse(localStorage.getItem("Schema")),
      ActionID: localStorage.getItem("ActionID"),
      filterCodeList: [],
      filterValueList: [],
      targetPasswordList: [],
      targetConditionList: [],
      operator1List: [
        {"code": "AND"},
        {"code": "OR"}
      ],
      operator2List: [
        {"code": "="},
        {"code": ">"},
        {"code": ">="},
        {"code": "<"},
        {"code": "<="},
        {"code": "<>"},
        {"code": "between"}
      ],
      operatorTypeList: [
        {"code": "nominal"},
        {"code": "percent"},
        {"code": "max"}
      ]
    }
  },
  mounted() {
    this.onLoadFilterCodeList();
    this.onLoadFilterValueList();
    this.onLoadDataDetailSchema();
  },
  methods: {    
    onLoadFilterCodeList() {      
      const tempFilterCodeList = localStorage.getItem("FilterCodeList");
      if (tempFilterCodeList) {
        const jsonFilterCodeList = JSON.parse(tempFilterCodeList);
        this.filterCodeList = jsonFilterCodeList.filter(result => result.CompanyID == 0);
        this.targetPasswordList = jsonFilterCodeList.filter(result => result.CompanyID == 1);
        this.targetConditionList = jsonFilterCodeList.filter(result => result.CompanyID == 1);
      } else {
        axiosService.get('/api/scheme/FilterList')
          .then(
              response => {
                  const resultResponse = response.data;
                  localStorage.setItem("FilterCodeList", JSON.stringify(resultResponse));
                  this.filterCodeList = resultResponse.filter(result => result.CompanyID == 0);
                  this.targetPasswordList = resultResponse.filter(result => result.CompanyID == 1);
                  this.targetConditionList = resultResponse.filter(result => result.CompanyID == 1);
              },
              error => {
                  if (error.response.status === 404) {
                      if (error.response.data.code === 'INVALID TOKEN') {
                          localStorage.clear();
                          this.$router.push('/login');
                      } else {
                          this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                      }
                  }
                  if (error.response.status === 500) {
                      this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                  }
              }
          );
      }
    },

    onLoadFilterValueList() {
      const tempFilterValueList = localStorage.getItem("FilterValueList");
      if (tempFilterValueList) {
        this.filterValueList = JSON.parse(tempFilterValueList);
      } else {
        let LineDesc = null;
        if (this.BodyData.lini.LineName.includes('ZETA')) {
          LineDesc = 'ZETA';
        } else {
          LineDesc = this.BodyData.lini.LineName;
        }
        axiosService.post('/api/scheme/OverviewList', { LineName: LineDesc })
        .then(
          response => {
            this.filterValueList = response.data;
            localStorage.setItem("FilterValueList", JSON.stringify(response.data));
          },
          error => {
            if (error.response.status === 404) {
              if (error.response.data.code === 'INVALID TOKEN') {
                localStorage.clear();
                this.$router.push('/login');
              } else {
                this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
              }
            }
            if (error.response.status === 500) {
              this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
            }
          }
        );
      }
    },

    onLoadDataDetailFromDatabase() {      
      axiosService.post('/api/schemeconfig/detailSchemaList', { 
        ConfigDetailId: this.Schema.ConfigDetailId 
      }).then(
        response => {
          this.Schema.tarikanList = response.data.tarikanList.map(tempTarikan => {
            const tempFilterValueList = [];
            tempFilterValueList[0] = [];
            tempFilterValueList[1] = tempTarikan.FilterValueList;
            return {
              FilterCode: tempTarikan.FilterCode,
              FilterValueList: tempFilterValueList,
              FlagGroupHeader: tempTarikan.FlagGroupHeader,
              FlagInclude: tempTarikan.FlagInclude,
              Operator: tempTarikan.Operator,
              RecordNo: tempTarikan.RecordNo
            }
          });
          this.Schema.parameterList = response.data.parameterList;
        },
        error => {
          if (error.response.status === 404) {
            if (error.response.data.code === 'INVALID TOKEN') {
              localStorage.clear();
              this.$router.push('/login');
            } else {
              this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
            }
          }
          if (error.response.status === 500) {
            this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
          }
        }
      )
    },

    onLoadDataDetailSchema() {
      if (('tarikanList' in this.Schema) === false) {
        if (this.Schema.ConfigDetailId) {
          this.onLoadDataDetailFromDatabase();
          return;
        } else {
          this.Schema.tarikanList = [];
          this.Schema.parameterList = [];
        }
      } else {
        this.Schema.tarikanList = this.Schema.tarikanList.map(tempTarikan => {
          const tempFilterValueList = [];
          tempFilterValueList[0] = [];
          tempFilterValueList[1] = tempTarikan.FilterValueList;
          return {
            FilterCode: tempTarikan.FilterCode,
            FilterValueList: tempFilterValueList,
            FlagGroupHeader: tempTarikan.FlagGroupHeader,
            FlagInclude: tempTarikan.FlagInclude,
            Operator: tempTarikan.Operator,
            RecordNo: tempTarikan.RecordNo
          }
        });
      }
    },

    onChangeFilterParameter(recordData) {
      if (recordData.isEdit) {
        const tempTarikan = this.Schema.tarikanList.find(tarikan => tarikan.FilterCode === recordData.FilterCode && 
        tarikan.RecordNo != recordData.RecordNo);
        recordData.FilterValueList = [];
        if (tempTarikan && tempTarikan.FilterValueList && tempTarikan.FilterValueList.length > 0) {
          recordData.FilterValueList = tempTarikan.FilterValueList;
        }
        this.onEditTarikanData(recordData);
      }
    },

    onAddTarikanData() {
      this.Schema.tarikanList = this.Schema.tarikanList || [];
      this.Schema.tarikanList.push({Operator: 'AND', isEdit: false, FlagInclude: true, FlagGroupHeader: false, FilterValueList: [[], []]});
    },

    onChangeGroupHeader(recordData) {
      this.onEditTarikanData(recordData);
    },

    onEditTarikanData(recordData) {
      recordData.isEdit = true;
      if (recordData.FilterValueList[1] && recordData.FilterValueList[1].length > 0) {
        recordData.FilterValueList[0] = this.filterValueList.filter(tempFilter => tempFilter.FilterCode == recordData.FilterCode && 
        !recordData.FilterValueList[1].some(target => target.FilterValue === tempFilter.FilterValue));
      } else {
        recordData.FilterValueList[0] = this.filterValueList.filter(tempFilter => tempFilter.FilterCode == recordData.FilterCode);
        if (recordData.FlagGroupHeader) {
          const tempFilterSourceList = this.filterValueList.filter(tempFilter => tempFilter.FilterCode === 'CategoryProduct');
          if (tempFilterSourceList && tempFilterSourceList.length > 0) {          
            const tempFilterSourceMap = tempFilterSourceList.map(tempFilter => {
              return {
                LineProduct: tempFilter.FilterValue
              }
            });
            recordData.FilterValueList[1] = tempFilterSourceMap.concat(recordData.FilterValueList[1] || []);
          }
        }
      }
    },

    onDeleteTarikanData(recordData) {
      this.Schema.tarikanList = this.Schema.tarikanList.filter(val => val !== recordData); 
    },

    onSaveTarikanData(recordData) {
      recordData.isEdit = false;
    },

    onAddIncentive() {
      this.Schema.parameterList = this.Schema.parameterList || [];
      this.Schema.parameterList.push({Operator1: 'AND', itemList: []});
    },

    onDeleteIncentive(recordData) {
      this.Schema.parameterList = this.Schema.parameterList.filter(val => val !== recordData);   
    },

    onAddSubIncentive(recordHeader) {
      recordHeader.itemList.push({Operator1: 'AND'});
    },

    onDeleteSubIncentive(recordHeader, recordDetail) {
      recordHeader.itemList = recordHeader.itemList.filter(val => val !== recordDetail);                    
    },

    onBackData() {
      this.$router.push({
        name: 'create-incentive'
      });
    },

    onSaveData() {
      this.Schema.tarikanList = this.Schema.tarikanList.map((tempTarikan, indexTarikan) => {
        const tempObjectTarikan = {
          FilterCode: tempTarikan.FilterCode,
          FilterValueList: tempTarikan.FilterValueList[1],
          FlagInclude: tempTarikan.FlagInclude,
          FlagGroupHeader: tempTarikan.FlagGroupHeader,
          Operator: tempTarikan.Operator,
          RecordNo: indexTarikan + 1
        }
        return tempObjectTarikan;
      });
      this.Schema.parameterList = this.Schema.parameterList.map((tempParameter, indexParameter) => {
        tempParameter.RecordNo = indexParameter + 1;
        return tempParameter;
      })
      this.BodyData.monthlyList = this.BodyData.monthlyList.map(element => {
        if (element.SchemaId === this.Schema.SchemaId && element.SchemaLabel === this.Schema.SchemaLabel) {
          element.tarikanList = this.Schema.tarikanList;
          element.parameterList = this.Schema.parameterList;
        }
        return element;
      });
      this.BodyData.quarterList = this.BodyData.quarterList.map(element => {
        if (element.SchemaId === this.Schema.SchemaId && element.SchemaLabel === this.Schema.SchemaLabel) {
          element.tarikanList = this.Schema.tarikanList;
          element.parameterList = this.Schema.parameterList;
        }
        return element;
      });
      localStorage.setItem("BodyData", JSON.stringify(this.BodyData));
      localStorage.setItem("ActionID", this.ActionID);
      this.$router.push({
        name: 'create-incentive'
      });
    }
  }
}
</script>