<template>
    <Panel header="Incentive Scheme Configuration">
        <div class="field grid">
            <Button
                label="Add New Incentive Scheme"
                icon="pi pi-plus"
                class="p-button-secondary"
                @click="onCreateData"
            ></Button>
        </div>
        <DataTable
            :value="incentiveConfigList"
            :lazy="true"
            :paginator="true"
            :rows="10"
            ref="dt" 
            dataKey="SchemeConfigId"
            responsiveLayout="scroll"
            :totalRecords="totalRecords" 
            :loading="loading" 
            @page="onPage($event)" 
            @sort="onSort($event)"
            v-if="incentiveConfigList && incentiveConfigList.length > 0"
        >
            <Column field="LineName" header="Line"></Column>
            <Column header="Periode Awal">
                <template #body="slotProps">{{ formatDate(slotProps.data.StartDate) }}</template>
            </Column>
            <Column header="Periode Akhir">
                <template #body="slotProps">{{ formatDate(slotProps.data.EndDate) }}</template>
            </Column>
            <Column field="StatusName" header="Status"></Column>
            <Column field="JumlahScheme" header="Jumlah Skema"></Column>
            <Column field="Version" header="Version" style="min-width:10rem"></Column>
            <Column header="Actions" style="min-width:20rem">
                <template #body="slotProps">
                    <Button
                        icon="pi pi-database"
                        class="p-button-rounded p-button-secondary p-button-text"
                        v-tooltip.top="'Calculate'"
                        @click="onCalculateData(slotProps.data)"
                    />
                    <Button
                        icon="pi pi-eye"
                        class="p-button-rounded p-button-secondary p-button-text"
                        v-tooltip.top="'View'"
                        @click="onViewData(slotProps.data)"
                    />
                    <Button
                        icon="pi pi-clone"
                        class="p-button-rounded p-button-secondary p-button-text"
                        v-tooltip.top="'Copy'"
                        @click="onCopyData(slotProps.data)"
                    />
                    <Button
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text"
                        v-tooltip.top="'Edit'"
                        @click="onEditData(slotProps.data)"
                    />
                    <Button
                        icon="pi pi-lock"
                        class="p-button-rounded p-button-danger p-button-text"
                        v-tooltip.top="'Cut Off'"
                        @click="onCutOffData(slotProps.data)"
                    />
                    <Button
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text"
                        v-tooltip.top="'Delete'"
                        @click="onDeleteData(slotProps.data)"
                    />
                </template>
            </Column>
        </DataTable>
    </Panel>

    <ConfirmDialog></ConfirmDialog>
</template>

<script>
import moment from 'moment';
import axiosService from "../../services/axios";

export default {
    data() {
        return {
            incentiveConfigList: [],
            StartDate: null,
            EndDate: null,
            errorMessage: [],
            lazyParams: {},
            loading: false,
            totalRecords: 0
        }
    },
    created() {
        const today = new Date();
        this.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        this.EndDate = new Date(localStorage.getItem("never_end_date"));
    },
    mounted() {
        this.lazyParams = {
            first: 0,
            rows: 10,
            sortField: null,
            sortOrder: null,
            filters: this.filters
        };

        this.loadLazyData();
    },
    methods: {
        loadLazyData() {
            this.loading = true;
            const data = {
                bodyData: {},
                pageSetting: this.lazyParams
            };
            axiosService.post('/api/schemeconfig/search', data)
                .then(
                    response => {
                        this.loading = false;
                        this.incentiveConfigList = response.data;
                        if (this.incentiveConfigList && this.incentiveConfigList.length > 0) {
                            this.incentiveConfigList.forEach(item => {
                                item.StartDate = new Date(item.StartDate);
                                item.EndDate = new Date(item.EndDate);
                            });
                            this.totalRecords = response.data[0].TotalRows;
                        } else {
                            this.totalRecords = 0;
                        }
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                        }
                    }
                );
        },
        onCreateData() {
            localStorage.removeItem('BodyData');
            localStorage.removeItem('SchemeConfig');
            localStorage.setItem('ActionID', 0); // create
            this.$router.push({
                name: 'create-incentive'
            });
        },
        onCalculateData(recordData) {
            localStorage.setItem('SchemeConfig', JSON.stringify(recordData));
            localStorage.removeItem('ActionID');
            localStorage.removeItem('BodyData');
            const tempCompanyID = localStorage.getItem('CompanyID');
            if (tempCompanyID === '1') {
                this.$router.push({
                    name: 'pre-simulation-victory'
                });
            }   else {
                this.$router.push({
                    name: 'pre-simulation'
                });
            }
        },
        onViewData(recordData) {
            localStorage.setItem('SchemeConfig', JSON.stringify(recordData));
            localStorage.setItem('ActionID', 1); // view
            localStorage.removeItem('BodyData');
            this.$router.push({
                name: 'create-incentive'
            });
        },
        onCopyData(recordData) {
            localStorage.setItem('SchemeConfig', JSON.stringify(recordData));
            localStorage.setItem('ActionID', 2); // copy
            localStorage.removeItem('BodyData');
            this.$router.push({
                name: 'create-incentive'
            });
        },
        onEditData(recordData) { 
            localStorage.setItem('SchemeConfig', JSON.stringify(recordData));
            localStorage.setItem('ActionID', 3); // edit
            localStorage.removeItem('BodyData');
            this.$router.push({
                name: 'create-incentive'
            });
        },
        onCutOffData(recordData) {
            localStorage.setItem('SchemeConfig', JSON.stringify(recordData));
            localStorage.setItem('ActionID', 4);// cutoff
            localStorage.removeItem('BodyData');
            this.$router.push({
                name: 'create-incentive'
            });
        },
        onDeleteData(recordData) {
            localStorage.removeItem('SchemeConfig');            
            localStorage.removeItem('ActionID');
            localStorage.removeItem('BodyData');
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Delete Scheme',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/schemeconfig/delete', recordData)
                    .then(
                        response => {
                            this.loadLazyData();
                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                }
                            }
                            if (error.response.status === 500) {
                                this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                            }
                        }
                    );
                }
            });
        },
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
