<template>
    <Panel header="Proses Incentive">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period </label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="incentiveScheme.PeriodeFrom"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="mm/yy"
                    view="month"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="incentiveScheme.PeriodeTo"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="mm/yy"
                    view="month"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Type</label>
            <div class="col">
                <Dropdown
                    v-model="incentiveScheme.SchemeType" :options="typeList" 
                    optionLabel="label" optionValue="code"
                    emptyMessage="No Data Found" placeholder="- Select -"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Version</label>
            <div class="col">
                <Dropdown
                    v-model="incentiveScheme.version" :options="versionList" 
                    optionLabel="code" optionValue="code"
                    emptyMessage="No Data Found" placeholder="- Select -" :disabled="true"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Load List" class="p-button-secondary mr-2" />
                <Button label="Calculate" class="p-button-success mr-2" 
                :loading="loading" @click="onCalculate()" />                
            </div>
        </div>
    </Panel>
        <Dropdown
            v-model="SchemeLabel" :options="schemaList" optionLabel="SchemaLabel"
            emptyMessage="No Data Found" placeholder="- Select -" @change="onChangeFilterSchema"
            class="col-4" v-if="resultCalculateList && resultCalculateList.length > 0"
        />
        <DataTable :value="preSimulationList" :paginator="true" :rows="10" data-key="RayonCode"
        responsiveLayout="scroll">
            <Column field="RayonCode" header="Rayon Code" style="min-width:10rem"></Column>
            <Column field="EmployeeID" header="EmployeeID" style="min-width:10rem"></Column>
            <Column field="EmployeeName" header="Name" style="min-width:20rem"></Column>
            <Column field="EmployeeAreaCode" header="Area" style="min-width:10rem"></Column>
            <Column field="actualAll" header="Actual" style="min-width:15rem">
                <template #body="{data}">
                    {{formatCurrency(data.actualAll)}}
                </template>
            </Column>
            <Column field="targetAll" header="Target" style="min-width:15rem">
                <template #body="{data}">
                    {{formatCurrency(data.targetAll)}}
                </template>
            </Column>
            <Column field="actualTargetAll" header="A/T" style="min-width:15rem">
                <template #body="{data}">
                    {{formatPercentage(data.actualTargetAll)}}
                </template>
            </Column>
            <Column field="totalIncentive" header="Total Incentive" style="min-width:15rem">
                <template #body="{data}">
                    {{formatCurrency(data.totalIncentive)}}
                </template>
            </Column>
            <Column header="Actions" style="min-width:5rem">
                <template #body="{data}">
                    <Button icon="pi pi-database" 
                    class="p-button-rounded p-button-secondary p-button-text mr-2"
                    @click="openBasic(data)" 
                    v-if="data.totalIncentive > 0"/>
                </template>
            </Column>
        </DataTable>

    <div class="flex justify-content-end py-3" 
    v-if="resultCalculateList && resultCalculateList.length > 0">
        <Button label="Export" icon="pi pi-download" class="p-button-secondary mr-3" 
        @click="exportCSV($event)" />
        <Button label="Save Report" class="p-button-success" @click="onSaveReport" />
    </div>
    <Dialog v-model:visible="displayBasic" :style="{width: '75vw'}">
        <template #header>
            <h3>DETAIL INCENTIVE {{detailBonus.EmployeeName}}</h3>
        </template>
        <TabView>
            <TabPanel header="SIMULASI">
                <DataTable :value="tableSimulasi" responsiveLayout="scroll">
                    <Column v-for="col of columnList" :field="col.field" 
                    :header="col.header" :key="col.SchemaId"></Column>
                </DataTable>
            </TabPanel>
            <TabPanel v-for="tab in detailBonus.schemaList" :key="tab[0].SchemaId" :header="tab[0].SchemaName">
                <div v-if="tab[0].SchemaId !== 18">
                    Incentive : {{tab[0].incentive}}
                </div>
                <div v-if="tab[0].SchemaId === 18">
                    Pinalty : {{tab[0].incentive}}
                </div>                
                <DataTable :value="tab" responsiveLayout="scroll">
                    <Column field="work_day" header="HK" :style="tab[0].SchemaId === 9 ? '' : 'display: none;'"></Column>
                    <Column field="ProductID" header="Product ID" :style="tab[0].SchemaId === 2 || tab[0].SchemaId === 3 ? '' : 'display: none;'"></Column>
                    <Column field="actualAll" header="Actual" :style="tab[0].SchemaId !== 18 ? '' : 'display: none;'"></Column>
                    <Column field="targetAll" header="Target" :style="tab[0].SchemaId !== 18 ? '' : 'display: none;'"></Column>
                    <Column field="actual_target" header="A/T Area" :style="tab[0].SchemaId !== 18 ? '' : 'display: none;'"></Column>
                    <Column field="sales_per_hk" header="Sales HK" :style="tab[0].SchemaId === 9 ? '' : 'display: none;'"></Column>
                    <Column field="at_per_hk" header="A/T HK" :style="tab[0].SchemaId === 9 ? '' : 'display: none;'"></Column>
                </DataTable>
            </TabPanel>
        </TabView>
        <template #footer>
            <Button label="OK" icon="pi pi-check" @click="closeBasic" autofocus />
        </template>
    </Dialog>
    <ConfirmDialog></ConfirmDialog>
</template>

<script>
import axiosService from "../../services/axios";
import moment from 'moment';
import * as FileSaver from 'file-saver';
import writeXlsxFile from 'write-excel-file';

export default {
    data() {
        return {
            incentiveScheme: {
                SchemeConfigId: null,
                PeriodeFrom: null,
                PeriodeTo: null,
                SchemeType: null,
                version: null
            },
            BodyData: JSON.parse(localStorage.getItem("SchemeConfig")),
            resultCalculateList: null,
            preSimulationList: null,
            schemaList: [{
                'ConfigDetailId': null, 'SchemeConfigId': null, 'SchemaId': null, 'SchemaLabel': 'ALL'
            }],
            SchemeLabel: {
                'ConfigDetailId': null, 'SchemeConfigId': null, 'SchemaId': null, 'SchemaLabel': 'ALL'
            },
            typeList: [
                {"code": "1", "label": "Bulanan"},
                {"code": "2", "label": "Kuartal"}
            ],
            versionList: [],
            displayBasic: false,
            disable: false,
            loading: false,
            detailBonus: null,
            tableSimulasi: null,
            columnList: [
                {SchemaId: 'SchemaId', field: 'SchemaId', header: 'SchemaId'},
                {SchemaId: 'SchemaName', field: 'SchemaName', header: 'SchemaName'},
                {SchemaId: 'incentive', field: 'incentive', header: 'Incentive'}
            ]
        }
    },
    mounted() {
        this.incentiveScheme.SchemeConfigId = this.BodyData.SchemeConfigId;
        this.incentiveScheme.version = this.BodyData.Version;
        this.versionList.push({"code": this.BodyData.Version});
    },
    methods: {
        openBasic(recordData) {
            this.displayBasic = true;
            this.detailBonus = recordData;
            this.tableSimulasi = recordData.schemaList.map(item => {
                return {
                    SchemaName: item[0].SchemaName,
                    incentive: item[0].incentive,
                    SchemaId: item[0].SchemaId
                }
            });
        },

        closeBasic() {
            this.displayBasic = false;
            this.detailBonus = null;
        },

        async exportCSV() {            
            const tempHeaderList = this.schemaList.filter(temp => temp.SchemaLabel !== 'ALL');
            let headerColumn = [
                {
                    value: 'Rayon Code',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Employee ID',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Area Code',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Employee Name',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Position Code',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Sales',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'Target',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                },
                {
                    value: 'A/T',
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                }
            ];
            tempHeaderList.forEach(header => {
                headerColumn.push({
                    value: header.SchemaLabel,
                    backgroundColor: '#eeeeee',
                    fontWeight: 'bold',
                    align: 'center',
                    wrap: true,
                    alignVertical: 'center'
                });
            });
            headerColumn.push({
                value: 'Total Incentive',
                backgroundColor: '#eeeeee',
                fontWeight: 'bold',
                align: 'center',
                wrap: true,
                alignVertical: 'center'
            });
            const objects = [];
            objects.push(headerColumn);
            this.preSimulationList.forEach(data => {
                let dataRow = [
                    { value: data.RayonCode },
                    { value: data.EmployeeID },
                    { value: data.EmployeeAreaCode },
                    { value: data.EmployeeName },
                    { value: data.EmployeePositionCode },
                    { value: data.actualAll },
                    { value: data.targetAll },
                    { value: data.actualTargetAll }
                ];
                tempHeaderList.forEach(header => {
                    if (data.schemaList && data.schemaList.length > 0) {
                        const tempBonus = data.schemaList.find(bonus => bonus.schemaLabel === header.SchemaLabel);
                        if (tempBonus) {
                            dataRow = [
                            ...dataRow,
                            { value : tempBonus.totalIncentive}
                            ];
                        } else {
                            dataRow = [
                            ...dataRow,
                            { value : "0"}
                            ];
                        }
                    } else {
                        dataRow = [
                            ...dataRow,
                            { value : "0"}
                        ];
                    }
                });
                dataRow = [
                    ...dataRow,
                    { value : data.totalIncentive}
                ];
                objects.push(dataRow)
            });
                
            const blobData = await writeXlsxFile(objects, {
                borderColor: '#000000',
                fontFamily: 'Calibri',
                fontSize: 9
            });
            FileSaver.saveAs(blobData, 'Simulasi Incentive ' + this.BodyData.LineName + '.xlsx');
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },

        formatCurrency(value) {
            if (value && Number.isNaN(value) == false) {
                return value.toLocaleString('in-ID', {style: 'currency', currency: 'IDR'});
            }
            return value;
        },

        formatPercentage(value) {
            if (value && Number.isNaN(value) == false) {
                return value.toLocaleString('in-ID', {maximumFractionDigits: 2});
            }
            return value;
        },

        onCalculate() {
            this.disable = true;
            this.BodyData.SchemeType = this.incentiveScheme.SchemeType;
            const tempPeriodFrom = new Date(
                        this.incentiveScheme.PeriodeFrom.getFullYear(),
                        this.incentiveScheme.PeriodeFrom.getMonth(),
                        1);
            this.BodyData.PeriodeFrom = tempPeriodFrom;
            const tempPeriodTo = new Date(
                        this.incentiveScheme.PeriodeTo.getFullYear(),
                        this.incentiveScheme.PeriodeTo.getMonth() + 1,
                        0);
            this.BodyData.PeriodeTo = tempPeriodTo; 
            this.SchemeLabel = {
                ConfigDetailId: null,
                SchemaId: null,
                SchemaLabel: "ALL",
                SchemeConfigId: null
            };
            this.$confirm.require({
                message: 'Are you sure you want to Calculate ?',
                header: 'Calculate',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.loading = true;
                    axiosService.post('/api/schemeconfig/calculate', this.BodyData)
                        .then(
                            response => {
                                this.loading = false;
                                this.resultCalculateList = response.data.bodyList;
                                this.preSimulationList = response.data.bodyList;
                                this.schemaList = [{
                                    ConfigDetailId: null,
                                    SchemaId: null,
                                    SchemaLabel: "ALL",
                                    SchemeConfigId: null
                                }];
                                response.data.schemaList.forEach(tempSchema => {
                                    this.schemaList.push(tempSchema);
                                });
                            },
                            error => {
                                this.loading = false;
                                if (error.response.status === 404) {
                                    if (error.response.data.code === 'INVALID TOKEN') {
                                        localStorage.clear();
                                        this.$router.push('/login');
                                    } else {
                                        this.$toast.add({ 
                                            severity: 'error', 
                                            summary: error.response.data.code, 
                                            detail: error.response.data.message, 
                                            life: 3000 
                                        });
                                    }
                                }
                                if (error.response.status === 500) {
                                    this.$toast.add({ 
                                        severity: 'error', 
                                        summary: error.response.statusText, 
                                        detail: error.response.data.message, 
                                        life: 3000 
                                    });
                                }
                            }
                        );
                }
            });
        },

        onChangeFilterSchema() {
            this.preSimulationList = this.resultCalculateList;
            if (this.SchemeLabel.SchemaLabel !== 'ALL') {
                this.preSimulationList = this.preSimulationList.filter(header => header.schemaList
                .some(detail => detail.schemaLabel === this.SchemeLabel.SchemaLabel));
                this.preSimulationList = this.preSimulationList.map(header => {
                    const tempDetail = header.schemaList.find(detail => detail.schemaLabel === this.SchemeLabel.SchemaLabel);
                    if (tempDetail && tempDetail.totalIncentive > 0) {
                        header.totalIncentive = tempDetail.totalIncentive;
                    } else {
                        header.totalIncentive = 0;
                    }
                    return header;
                });
            }
        },

        onSaveReport() {
            this.$confirm.require({
                message: 'Are you sure you want to save report ?',
                header: 'Calculate',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    const tempBodyData = {
                        header: [],
                        detail: []
                    };
                    const tempPeriodeFrom = new Date(
                        this.incentiveScheme.PeriodeFrom.getFullYear(),
                        this.incentiveScheme.PeriodeFrom.getMonth(),
                        1);
                    const tempPeriodeTo = new Date(
                        this.incentiveScheme.PeriodeTo.getFullYear(),
                        this.incentiveScheme.PeriodeTo.getMonth() + 1,
                        0);
                    tempBodyData.header = this.resultCalculateList.map(item => {
                        return {
                            IncentiveConfigID: this.BodyData.SchemeConfigId,
                            LineID: this.BodyData.LineID,
                            LineName: this.BodyData.LineName,
                            StartDate: tempPeriodeFrom,
                            EndDate: tempPeriodeTo,
                            SchemaType: this.incentiveScheme.SchemeType,
                            CompanyID: localStorage.getItem("CompanyID"),
                            EmployeeID: item.EmployeeID,
                            EmployeeName: item.EmployeeName,
                            EmployeeAreaCode: item.suppos,
                            Actual: item.actualAll,
                            Target: item.targetAll,
                            ActualTarget: item.actual_target,
                            Bonus: item.totalBonus
                        }
                    });
                    const tempBonusList = this.resultCalculateList.filter(
                        item => item.schemaList && item.schemaList.length > 0);
                    tempBonusList.filter(item => {
                        item.schemaList.filter(detail => {
                            tempBodyData.detail.push({
                                IncentiveConfigID: this.BodyData.SchemeConfigId,
                                EmployeeID: detail.EmployeeID,
                                EmployeeName: detail.EmployeeName,
                                EmployeeAreaCode: detail.suppos,
                                SchemaID: detail.SchemaId,
                                SchemaLabel: detail.SchemaName,
                                DetailType: detail.ProductID,
                                Actual: detail.actualAll,
                                Target: detail.targetAll,
                                ActualTarget: detail.actual_target
                            });
                        })
                    });
                    axiosService.post('/api/summary/save', tempBodyData)
                    .then(
                        response => {

                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ 
                                        severity: 'error', 
                                        summary: error.response.data.code, 
                                        detail: error.response.data.message, 
                                        life: 3000 
                                    });
                                }
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.statusText, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                    );
                }
            });
        }
    }
}
</script>