<template>
    <Panel header="Approval Customer Outlet Panel">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="customerPanel.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="customerPanel.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Channel</label>
            <div class="col">
                <Dropdown
                    v-model="customerPanel.channel"
                    :options="channelList"
                    optionLabel="ChannelName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[2]" @click="onLoadChannel" />
            </div>
        </div>
        
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button
                    label="Search"
                    class="p-button-primary mr-3"
                    @click="onSearch"
                />
                <Button
                    label="Approve"
                     class="p-button-success mr-3"
                    @click="onApprove"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
                <Button
                    class="p-button-secondary mr-3"
                    label="Reject"
                    @click="onReject"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="customerPanel.customerList"
            v-model:selection="selectedMasterList"
            dataKey="Sitecode"
            :lazy="true"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            @page="onPage($event)"
            :totalRecords="totalRecords"
            v-if="customerPanel.customerList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Outlet Name"></Column>
            <Column field="OutletAddress" header="Address"></Column>
            <Column field="CustomerAreaName" header="Area"></Column>
            <Column field="ChannelName" header="channel"></Column>
            <Column header="Start Date">
                <template #body="slotProps">
                    {{ formatDate(slotProps.data.StartDate) }}
                </template>
            </Column>
            <Column header="End Date">
                <template #body="slotProps">
                    {{ formatDate(slotProps.data.EndDate) }}
                </template>
            </Column>
        </DataTable>
    </Panel>
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';

export default {
    data() {
        return {
            customerPanel: {
                area: null,
                lini: null,
                channel: null,
                StartDate: null,
                EndDate: null,
                customerList: [],
                status: 'Non Active'
            },
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            channelList: [],
            selectedMasterList: [],
            errorMessage: [],
            totalRecords: null,
            lazyParams : {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            }
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        this.onLoadChannel();
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onLoadChannel() {
            const tempChannelList = localStorage.getItem("ChannelList");
            if (tempChannelList) {
                this.channelList = JSON.parse(tempChannelList);
            } else {
                this.loading[2] = true;
                axiosService.post('/api/dexaapi/channel/list', {})
                .then(
                    response => {
                        this.loading[2] = false;
                        this.channelList = response.data;
                        localStorage.setItem("ChannelList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[2] = false;
                        this.channelList = [{
                            ChannelID: '',
                            ChannelCode: "",
                            ChannelName: "No Data Found",
                            GroupName: ""
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onApprove() {
            this.$confirm.require({
                message: 'Are you sure you want to Approve data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/outletpanel/approve', this.selectedMasterList)
                    .then(
                        response => {
                            this.errorMessage.push({ severity: 'success', content: 'Data has been Approved' });
                            this.onResetPage();
                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                }
                            }
                            if (error.response.status === 500) {
                                this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                            }
                        }
                    );
                }
            });
        },

        onReject() {
            this.$confirm.require({
                message: 'Are you sure you want to Reject data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                size:"xl",
                accept: () => {
                   axiosService.post('/api/outletpanel/reject',  this.selectedMasterList)
                    .then(
                        response => {                             
                            this.errorMessage.push({ severity: 'success', content: 'Data has been Rejected' });
                            this.onResetPage();
                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                }
                            }
                            if (error.response.status === 500) {
                                this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                            }
                        }
                    );
                    
                }
            });
        },

        loadLazyData() {          
            axiosService.post('/api/outletpanel/search', {
                outletPanelForm: this.customerPanel,
                pageSetting: this.lazyParams 
            })
            .then(
                response => {
                    this.customerPanel.customerList = response.data;
                    if (response.data && response.data.length > 0) {
                        this.totalRecords = response.data[0].totalRows;
                    }
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                    }
                }
            );
        },

        onSearch() {
            this.loadLazyData();
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },

        onResetPage() {
            this.customerPanel = {
                area: null,
                lini: null,
                channel: null,
                StartDate: null,
                EndDate: null,
                customerList: [],
                status: 'Non Active'
            }
            this.selectedMasterList = [];
            this.errorMessage = [];
            this.totalRecords = null;
            this.lazyParams = {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            }
        },
        
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>