<template>
    <Panel header="Create Customer Outlet Panel Special">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="customerPanel.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    @change="onChangeAreaLine"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="customerPanel.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Area</label>
            <div class="col">
                <Dropdown
                    v-model="customerPanel.customerArea"
                    :options="customerAreaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Channel</label>
            <div class="col">
                <Dropdown
                    v-model="customerPanel.channel"
                    :options="channelList"
                    optionLabel="ChannelName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[2]" @click="onLoadChannel" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="customerPanel.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="customerPanel.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer</label>
            <div class="col">
                <Button icon="pi pi-search" @click="onAddCustomer" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button
                    label="Save Data"
                    class="p-button-success mr-3"
                    @click="onSaveData"
                    v-bind:disabled="!(customerPanel.area && customerPanel.lini &&
                    customerPanel.channel && customerPanel.customerArea &&
                    customerPanel.StartDate && customerPanel.EndDate && customerPanel.customerList &&
                    customerPanel.customerList.length > 0)"
                />
                <Button
                    label="Delete Data"
                    @click="onDeleteData"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="customerPanel.customerList"
            v-model:selection="selectedMasterList"
            data-key="Sitecode"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            v-if="customerPanel.customerList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="CustName" header="Outlet Name"></Column>
            <Column field="Address" header="Address"></Column>
            <Column header="Start Date">
                <template #body>{{ formatDate(customerPanel.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body>{{ formatDate(customerPanel.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "../../services/axios";
import moment from 'moment';
import CustomerModal from '../Modal/CustomerModal.vue';

export default {
    data() {
        return {
            customerPanel: {
                area: null,
                lini: null,
                customerArea: null,
                channel: null,
                StartDate: null,
                EndDate: null,
                customerList: []
            },
            loading: [false, false, false],
            filterAreaList: [],
            areaList: [],
            customerAreaList: [],
            channelList: [],
            selectedMasterList: [],
            errorMessage: []
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        this.onLoadChannel();
        const today = new Date();
        this.customerPanel.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        this.customerPanel.EndDate = new Date(localStorage.getItem("never_end_date"));
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.filterAreaList = JSON.parse(tempAreaList);
                this.areaList = JSON.parse(tempAreaList);
                this.customerAreaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.filterAreaList = response.data;
                        this.areaList = response.data;
                        this.customerAreaList = response.data;
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        this.filterAreaList = this.areaList;
                        this.customerAreaList = this.areaList;
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        onLoadChannel() {
            const tempChannelList = localStorage.getItem("ChannelList");
            if (tempChannelList) {
                this.channelList = JSON.parse(tempChannelList);
            } else {
                this.loading[2] = true;
                axiosService.post('/api/dexaapi/channel/list', {})
                .then(
                    response => {
                        this.loading[2] = false;
                        this.channelList = response.data;
                        localStorage.setItem("ChannelList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[2] = false;
                        this.channelList = [{
                            ChannelID: '',
                            ChannelCode: "",
                            ChannelName: "No Data Found",
                            GroupName: ""
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        onChangeAreaLine() {
            let tempArea = this.customerPanel.area.AreaID;
            if (tempArea) {
                this.customerAreaList = this.filterAreaList.filter((customerArea) => {
                    return customerArea.AreaID !== tempArea;
                });
            } else {
                this.customerAreaList = this.filterAreaList;
            }
        },
        onAddCustomer() {
            this.$dialog.open(CustomerModal, {
                props: {
                    header: 'Customer List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.customerPanel.customerArea,
                    areaList: this.areaList,
                    selectionMode: 'multiple'
                },
                onClose: (options) => {
                    const tempSelectedMasterList = options.data;
                    if (tempSelectedMasterList) {
                        if (this.customerPanel.customerList && this.customerPanel.customerList.length > 0) {
                            let resultDiffer = tempSelectedMasterList.filter((item) =>
                                !this.customerPanel.customerList.some((existing) => existing.Sitecode === item.Sitecode));
                            resultDiffer.filter((item) => this.customerPanel.customerList.push(item));
                        } else {
                            tempSelectedMasterList.filter((item) => this.customerPanel.customerList.push(item));
                        }
                    }
                }
            });
        },
        onDeleteData() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    let result = this.customerPanel.customerList.filter((item) => !this.selectedMasterList.includes(item));
                    this.customerPanel.customerList = [];
                    result.filter((item) => this.customerPanel.customerList.push(item));
                    this.selectedMasterList = [];
                    this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                }
            });
        },
        onSaveData() {
            this.$confirm.require({
                message: 'Are you sure you want to save data?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.customerPanel.StartDate = new Date(
                        this.customerPanel.StartDate.getFullYear(),
                        this.customerPanel.StartDate.getMonth(),
                        this.customerPanel.StartDate.getDate());
                    this.customerPanel.EndDate = new Date(
                        this.customerPanel.EndDate.getFullYear(),
                        this.customerPanel.EndDate.getMonth(),
                        this.customerPanel.EndDate.getDate());

                        const startPd = Date.parse(this.customerPanel.StartDate);
                        const endPd = Date.parse(this.customerPanel.EndDate);
                        // console.log('start',startPd);
                        // console.log('end',endPd);    
                    if (startPd > endPd || startPd == endPd) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                        });
                        return;
                    }

                    if (this.customerPanel.StartDate.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'start date have to selected with early day of the month' });
                        return;
                    }
                    const tempPeriodTo = new Date(
                        this.customerPanel.EndDate.getFullYear(),
                        this.customerPanel.EndDate.getMonth(),
                        this.customerPanel.EndDate.getDate() + 1);
                    if (tempPeriodTo.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                        return;
                    }
                    axiosService.post('/api/outletpanel/save', this.customerPanel)
                        .then(
                            response => {
                                this.customerPanel = {
                                    area: null,
                                    lini: null,
                                    customerArea: null,
                                    channel: null,
                                    StartDate: null,
                                    EndDate: null,
                                    customerList: []
                                }
                                const today = new Date();
                                this.customerPanel.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
                                this.customerPanel.EndDate = new Date(localStorage.getItem("never_end_date"));
                                this.selectedMasterList = [];
                                this.customerPanel.customerList = [];
                                this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                            },
                            error => {
                                if (error.response.status === 404) {
                                    if (error.response.data.code === 'INVALID TOKEN') {
                                        localStorage.clear();
                                        this.$router.push('/login');
                                    } else {
                                        this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                    }
                                }
                                if (error.response.status === 500) {
                                    this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                                }
                            }
                        );
                }
            });
        },
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>