<template>
    <div class="block-content">
        <div>
            <div class="surface-card p-4 shadow-2 border-round border-1 border-primary">
                <div
                    class="bg-blue-600 text-center border-2 border-dashed surface-border border-round mb-3 p-2"
                >
                    <span class="font-medium text-900 text-2xl">GUIDE</span>
                </div>
                <div
                    class="border-2 border-dashed surface-border border-round p-4 text-center"
                    style="min-height: 20rem;"
                >
                    <span class="font-medium text-900">
                        Segala problem atau request di IFocus mohon dilaporkan aplikasi iTops.
                        <br />iTops bisa dibuka dengan membuka 
                    </span>
                    <span class="font-medium text-blue-600 no-underline"> http://it138.dexagroup.com </span>
                    <span class="font-medium text-900">
                        dari komputer/Thinclient atau
                        dari Mobile/Android (Download dari Play Store aplikasi: Ican Dexan)
                        <br />
                        <br />Username iTops sama seperti username portal,
                        <br />Contoh:
                        <br />Username: 
                    </span>
                    <span class="font-medium text-blue-600 no-underline"> budiman@dexa-medica.com </span>
                    <span class="font-medium text-900">
                        <br />
                        <br />1. Kendala/ Problem/ Error
                        <br />Contoh: Data Sales tidak muncul. Data Keg B tidak muncul.
                        <br />Pilih Create New Request >> Core System Support >> IFocus >> 000. Laporan Gangguan atau Masalah
                        <br />
                        <br />2. Request
                        <br />Contoh: Request Reset Password
                        <br />Pilih Create New Request >> Core System Support >> Focus >> Permintaan - Reset Password
                        <br />
                        <br />Jika ada pertanyaan yang lain, silahkan email ke 
                    </span>
                    <span class="font-medium text-blue-600 no-underline"> IFocus.support@dexagroup.com </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>