<template>
    <div class="block-content">
        <div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
            <div class="shadow-2 border-round-3xl w-4">
                <div class="border-round-top-3xl bg-red-500 w-full px-1 pt-1">
                <!-- <div class="col-12 xl:col-6 border-top-red"> -->
                <!-- <div class="border-round-3xl bg-red-500"> -->
                    <div class="text-center border-round-top-3xl bg-white">
                        <img src="@/assets/iFOCUS.png" alt="Image" height="90">
                    </div>
                </div>

                <div class="surface-card px-8 pb-5">
                    <form @submit.prevent="onSubmit">
                        <label for="email1" class="block text-900 font-medium mb-2">Username</label>
                        <InputText id="email1" type="text" v-model="Username" placeholder="Username" 
                        class="border-round-3xl w-full mb-3" />

                        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                        <InputText id="password1" type="password" v-model="Password" placeholder="Password" 
                        class="border-round-3xl w-full mb-5" />

                        <Button label="Sign In" icon="pi pi-user" class="p-button-rounded p-button-danger w-full" type="submit"/>
                        <Message severity="error" :life="3000" :sticky="false" v-for="msg of errorMessage" :key="msg">{{msg.content}}</Message>
                    </form>
                    <a class="cursor-pointer font-medium block text-center pt-5">{{ today }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="block-content">
        <div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
            <div
                class="p-6 shadow-2 text-center lg:w-30rem border-round-3xl border-red-500"
                style="background-color: rgb(240 235 249); color: rgb(0, 0, 0);"
            >
                <div class="text-4xl font-medium mb-4">
                    <img src="@/assets/iFOCUS.png" alt="Image" height="90" />
                </div>
                <form @submit.prevent="onSubmit">
                    <input
                        class="p-inputtext p-component appearance-none border-none p-3 w-full outline-none text-xl mb-4"
                        type="text"
                        v-model="Username"
                        placeholder="Username"
                        style="border-radius: 30px;"
                    />
                    <input
                        class="p-inputtext p-component appearance-none border-none p-3 w-full outline-none text-xl mb-4"
                        type="password"
                        v-model="Password"
                        :feedback="false"
                        placeholder="Password"
                        style="border-radius: 30px;"
                    />
                    <button
                        class="justify-content-center p-button-danger p-component appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-24rem bg-red-500 hover:bg-red-500 active:bg-red-500 text-white-alpha-80 cursor-pointer transition-colors transition-duration-150"
                        type="submit"
                        style="border-radius: 30px;"
                    >Login</button>
                    <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                        <Message severity="error" :life="3000" :sticky="false" v-for="msg of errorMessage" :key="msg">{{msg.content}}</Message>
                    </transition-group>
                </form>
                <a class="cursor-pointer font-medium block text-center">{{ today }}</a>
            </div>
        </div>
    </div> -->
</template>

<script>
import axiosService from "./../services/axios";
import moment from "moment";

export default {
    data() {
        return {
            Username: 'FPPSUPMS01',
            Password: null,
            today: null,
            errorMessage: []
        }
    },
    beforeMount() {
        this.autoUpdate();
    },
    methods: {
        autoUpdate() {
            setInterval(() => {
                this.today = moment(Date.now()).format('DD MMMM YYYY (hh:mm:ss a)');
            }, 1000);
        },
        cancelAutoUpdate() {
            clearInterval(this.timer);
        },
        onSubmit() {
            if (!this.Username) {
                this.errorMessage.push({content: 'Username can not be null'});
                return;
            }
            if (!this.Password) {
                this.errorMessage.push({content: 'Password can not be null'});
                return;
            }
            axiosService.post('/api/authenticate/login', {
                Username: this.Username,
                Password: this.Password
            }).then(response => {
                Object.keys(response.data.profileUser).forEach((key) => {
                    localStorage.setItem(key, response.data.profileUser[key]);
                });
                localStorage.setItem('tokenUser', response.data.tokenUser);
                localStorage.setItem('period_incentive', response.data.period_incentive);
                localStorage.setItem('period_sales', response.data.period_sales);
                localStorage.setItem('never_end_date', response.data.never_end_date);
                this.$router.push('/dashboard');
            }, error => {
                this.errorMessage.push({content: error});
            });
        }
    },
    beforeUnmount() {
        this.cancelAutoUpdate();
    }
}
</script>

<style>
.block-content {
    padding: 0;
    /* border: 1px solid; */
    /* border-top: 0 none; */
}
.backgroud-red-linear {
    background: linear-gradient(
        180deg,
        var(--red-500),
        rgba(33, 150, 243, 0) 10%
    );
}
</style>