<template>
  <div class="layout-wrapper">
    <div class="layout-topbar">
      <a class="action-icon menu-icon">
        <i class="pi pi-bars"></i>
      </a>
      <a @click="toggleMenu" class="router-link-active router-link-exact-active route-link" aria-current="page">
        {{ fullName }}
      </a>
      <Menu ref="menu" :model="topMenu" :popup="true" />
    </div>
    <div class="layout-editor">
      <div class="layout-editor-panel">
        <div class="layout-editor-top pb-2">
          <img src="@/assets/iFOCUS.png" alt="Image" class="logo" height="100" />
        </div>
        <div class="layout-menu">          
          <PanelMenu :model="sidebarMenuList" />
        </div>
      </div>
    </div>
    <div class="layout-content">
      <div class="layout-content-inner">
        <div class="grid">
          <div class="col-12">
            <Toast />
            <Breadcrumb :home="home" :model="breadcrumbList" />
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fullName: localStorage.getItem("EmployeeName"),
      home: {icon: 'pi pi-home', to: '/dashboard'},
      breadcrumbList: [],
      topMenu: [
        {
          label: 'Profile',
					icon: 'pi pi-user'
        },
        {
          label: 'Settings',
					icon: 'pi pi-cog'
        },
        {
            separator:true
        },
        {
          label: 'Sign Out',
					icon: 'pi pi-sign-out',
					command: () => {
						localStorage.clear();
            this.$router.push('/login');
					}
        }
      ],
      sidebarMenuList: [
        {
          label: 'Home',
          icon: 'pi pi-home',
          to: "/dashboard"
        },
        {
          label: 'Master Data',
          icon: 'pi pi-fw pi-calendar',
          items: [
            {
              label: 'Customer Outlet',
              items: [
                {
                  label: 'Customer Panel',
                  items: [
                    { label: 'Customer Outlet Panel', to: 'customerpanel' },
                    { label: 'Customer Outlet Panel Spesial', to: 'customerpanelspecial' },
                    { label: 'Approval Customer Outlet Panel', to: 'customerpanelapproval' },
                    { label: 'Cut Off Customer Outlet Panel', to: 'customerpanelcutoff' },
                    { label: 'Overview Customer Outlet Panel', to: 'customerpaneloverview' }
                  ]
                },
                {
                  label: 'Customer Clinic',
                  items: [
                    {
                      label: 'Clinic Master',
                      items: [
                        { label: 'Add Clinic Master', to: 'newclinicmaster' },
                        { label: 'Open/Edit Clinic Master', to: 'editclinicmaster' },
                        { label: 'Approval Clinic Master', to: 'approvalclinicmaster' }
                      ]
                    },
                    {
                      label: 'Clinic Mapping',
                      items: [
                        { label: 'Add Clinic Map', to: 'newclinicmap' },
                        { label: 'Open/Edit Clinic Map', to: 'editclinicmap' },
                        { label: 'Overview Clinic Map', to: 'overviewclinicmap' },
                        { label: 'Upload Clinic Map', to: 'uploadclinicmap' }
                      ]
                    }
                  ]
                },
                { 
                  label: 'Customer Regular',
                  items: [
                    { label: 'Sales Report No List',to: "salesreport"},
                    { label: 'Add Customer Regular', to: 'addcustomerregular' },
                    { label: 'Overview Cust. Regular', to: 'overviewcustomerregular' },
                    { label: 'Upload Cust. Regular', to: 'uploadcustomerregular' }
                  ]
                },
                { 
                  label: 'Customer Contribution',
                  items: [
                    { label: 'Add Cust. Contribution', to: 'addcustomercontribution' },
                    { label: 'Overview Cust. Contribution', to: 'overviewcustomercontribution' },
                    { label: 'Upload Cust. Contribution', to: 'uploadcustomercontribution' }
                  ]
                }
              ]
            }
          ]
        },
                {
            label: 'Sales',
            icon: 'pi pi-fw pi-home',
            items: [
              {
                label: 'Claim Sales Panel',
                to: 'claimsalespanel'
              }
            ]
          },
        {
          label: 'Data Pendukung',
          icon: 'pi pi-home',
          items: [
            {
              label: 'Upload Data',
              to: "additional-data-upload"
            }
          ]
        },
        {
          label: 'Incentive',
          icon: 'pi pi-home',
          items: [
            {
              label: 'Master Incentive',
              to: 'incentiveconfig'
            },
            // {
            //   label: 'Proses Incentive',
            //   to: 'presimulation'
            // }
          ]
        }
      ]
    }
  },
  mounted() {
    this.onUpdateBreadcrumb();
  },
  watch: {
    '$route'() {
      this.onUpdateBreadcrumb();
    }
  },
  methods: {
    onLogout() {
      localStorage.clear();
      this.$router.push('/login');
    },
    toggleMenu(event) {
      this.$refs.menu.toggle(event);
    },
    onUpdateBreadcrumb() {
      this.breadcrumbList = [];
      if (this.$route.path !== '/dashboard' && this.$route.path !== '/login') {
        const itemData = {label: this.$route.meta.breadcrumb.name};
        this.breadcrumbList.push(itemData);
      }
    }
  }
}
</script>
<style lang="css">
@import './../assets/base.css';
</style>