<template>
    <Panel header="Input Clinic">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Current Incentive Period</label>
            <div class="col-4 lg:col-2">
                <InputText type="text" v-model="Periode" class="w-full" :disabled="true" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="clinicMaster.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="clinicMaster.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Clinic Name</label>
            <div class="col-6 lg:col-5">
                <InputText type="text" v-model="clinicMaster.ClinicName" class="w-full" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Clinic Address</label>
            <div class="col-9">
                <Textarea v-model="clinicMaster.ClinicAddress" rows="5" cols="50" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Period</label>
            <div class="col-4 lg:col-2 mr-2">
                <Calendar
                    v-model="clinicMaster.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-4 lg:col-2">
                <Calendar
                    v-model="clinicMaster.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Panel Name</label>
            <div class="col">
                <Button icon="pi pi-search" @click="onAddCustomer" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button
                    label="Save Data"
                    class="p-button-success mr-3"
                    @click="onSaveData"
                    v-bind:disabled="!(clinicMaster.area && clinicMaster.lini && 
                    clinicMaster.ClinicName && clinicMaster.ClinicAddress &&
                    clinicMaster.StartDate && clinicMaster.EndDate && clinicMaster.customerList &&
                    clinicMaster.customerList.length > 0)"
                />
                <Button
                    label="Delete Data"
                    @click="onDeleteData"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="clinicMaster.customerList"
            v-model:selection="selectedMasterList"
            data-key="Sitecode"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            v-if="clinicMaster.customerList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="AreaName" header="Area Name"></Column>
            <Column field="LineName" header="Line Name"></Column>
            <Column field="CustomerAreaName" header="Customer Area Name"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Customer Name"></Column>
            <Column field="OutletAddress" header="Address"></Column>
            <Column header="Start Date">
                <template #body>{{ formatDate(clinicMaster.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body>{{ formatDate(clinicMaster.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';
import customerPanelModal from '../Modal/CustomerPanelModal.vue';

export default {
    data() {
        return {
            clinicMaster: {
                area: null,
                lini: null,
                ClinicName: null,
                ClinicAddress: null,
                StartDate: null,
                EndDate: null,
                customerList: []
            },
            Periode: localStorage.getItem("period_incentive"),
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            selectedMasterList: [],
            errorMessage: []
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        const today = new Date();
        this.clinicMaster.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
        this.clinicMaster.EndDate = new Date(localStorage.getItem("never_end_date"));
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddCustomer() {
            const dialogRef = this.$dialog.open(customerPanelModal, {
                props: {
                    header: 'Customer Panel List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMaster.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMaster.lini,
                    customerAreaList: this.areaList,
                    selectionMode: 'multiple'
                },
                onClose: (options) => {
                    const tempSelectedMasterList = options.data;
                    if (tempSelectedMasterList) {
                        if (this.clinicMaster.customerList && this.clinicMaster.customerList.length > 0) {
                            let resultDiffer = tempSelectedMasterList.filter((item) => !this.clinicMaster.customerList
                            .some((existing) => existing.CustomerPanelID === item.CustomerPanelID));
                            resultDiffer.filter((item) => this.clinicMaster.customerList.push(item));
                        } else {
                            tempSelectedMasterList.filter((item) => this.clinicMaster.customerList.push(item));
                        }
                    }
                }
            });
        },
        
        onDeleteData() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    let result = this.clinicMaster.customerList.filter((item) => !this.selectedMasterList.includes(item));
                    this.clinicMaster.customerList = [];
                    result.filter((item) => this.clinicMaster.customerList.push(item));
                    this.selectedMasterList = [];
                    this.errorMessage.push({ severity: 'success', content: 'Data has been deleted' });
                }
            });
        },
        onSaveData() {
            this.$confirm.require({
                message: 'Are you sure you want to save data?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    this.clinicMaster.StartDate = new Date(
                        this.clinicMaster.StartDate.getFullYear(),
                        this.clinicMaster.StartDate.getMonth(),
                        this.clinicMaster.StartDate.getDate());
                    this.clinicMaster.EndDate = new Date(
                        this.clinicMaster.EndDate.getFullYear(),
                        this.clinicMaster.EndDate.getMonth(),
                        this.clinicMaster.EndDate.getDate());

                        const startPd = Date.parse(this.clinicMaster.StartDate);
                        const endPd = Date.parse(this.clinicMaster.EndDate);
                        // console.log('start',startPd);
                        // console.log('end',endPd);    
                    if (startPd > endPd || startPd == endPd) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'The start date should be earlier than the end date, and both dates must not be the same.' 
                        });
                        return;
                    }

                    if (this.clinicMaster.StartDate.getDate() !== 1) {
                        this.errorMessage.push({ 
                            severity: 'error', 
                            content: 'start date have to selected with early day of the month' 
                        });
                        return;
                    }
                    const tempPeriodTo = new Date(
                        this.clinicMaster.EndDate.getFullYear(),
                        this.clinicMaster.EndDate.getMonth(),
                        this.clinicMaster.EndDate.getDate() + 1);
                    if (tempPeriodTo.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                        return;
                    }
                    axiosService.post('/api/clinic-master/save', this.clinicMaster)
                        .then(
                            response => {
                                this.clinicMaster = {
                                    Periode: null,
                                    area: null,
                                    lini: null,
                                    ClinicName: null,
                                    ClinicAddress: null,
                                    StartDate: null,
                                    EndDate: null,
                                    customerList: []
                                }
                                const today = new Date();
                                this.clinicMaster.StartDate = new Date(today.getFullYear(), today.getMonth(), 1);
                                this.clinicMaster.EndDate = new Date(localStorage.getItem("never_end_date"));
                                this.selectedMasterList = [];
                                this.clinicMaster.customerList = [];
                                this.errorMessage.push({ severity: 'success', content: 'Data has been saved' });
                            },
                            error => {
                                if (error.response.status === 404) {
                                    if (error.response.data.code === 'INVALID TOKEN') {
                                        localStorage.clear();
                                        this.$router.push('/login');
                                    } else {
                                        this.$toast.add({ severity: 'error', summary: error.response.data.code, detail: error.response.data.message, life: 3000 });
                                    }
                                }
                                if (error.response.status === 500) {
                                    this.$toast.add({ severity: 'error', summary: error.response.statusText, detail: error.response.data.message, life: 3000 });
                                }
                            }
                        );
                }
            });
        },
        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>