<template>
    <Panel header="New Clinic Approval">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Company</label>
            <div class="col-4 lg:col-2">
                <label>{{ CompanyName }}</label>
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Rayon Code-Position</label>
            <div class="col-4 lg:col-2">
                <label>{{ RayonCode }}</label> - <label>{{ PositionCode }}</label>
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="clinicMaster.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="clinicMaster.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button
                    label="Search"
                    class=" mr-3"
                    @click="onSearchData"
                    v-bind="!(selectedMasterList && selectedMasterList.length > 0)"
                />
                <Button
                    label="Approve"
                    class="p-button-success mr-3"
                    @click="onApprove"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
                <Button
                    label="Reject"
                    class="p-button-secondary"
                    @click="onReject"
                    v-bind:disabled="!(selectedMasterList && selectedMasterList.length > 0)"
                />
            </div>
        </div>
        <div class="field grid">
            <div class="col">
                <transition-group name="p-message" tag="div" v-if="errorMessage !== null">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="customerList"
            v-model:selection="selectedMasterList"
            data-key="Sitecode"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            v-if="customerList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="AreaName" header="Area Name"></Column>
            <Column field="LineName" header="Line Name"></Column>
            <Column field="ClinicName" header="Clinic Name"></Column>
            <Column field="ClinicAddress" header="Clinic Address"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Customer Name"></Column>
            <Column header="Start Date">
                <template #body="item">{{ formatDate(item.data.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body="item">{{ formatDate(item.data.EndDate) }}</template>
            </Column>
            <Column field="status" header="Status"></Column>
        </DataTable>
    </Panel>
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';

export default {
    data() {
        return {
            clinicMaster: {
                Periode: null,
                area: null,
                lini: null,
                ClinicName: null,
                ClinicAddress: null,
                status: 'Non Active'
            },
            customerList: [],
            CompanyName: localStorage.getItem('CompanyName'),
            RayonCode: localStorage.getItem('RayonCode'),
            PositionCode: localStorage.getItem('EmployeePositionCode'),
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            selectedMasterList: [],
            errorMessage: [],
            lazyParams: {},
            totalRecords: null
        }
    },
    created() {
        this.onLoadArea();
        this.onLoadLine();
        this.lazyParams = {
            first: 0,
            rows: 0,
            sortField: null,
            sortOrder: null,
            filters: this.filters
        };
    },
    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },

        loadLazyData(event) {
            this.clinicMaster.status = 'Non Active';
            axiosService.post('/api/clinic-master/search', {
                data: this.clinicMaster,
                pageSetting: event ? this.lazyParams : event
            })
            .then(
                response => {
                    this.customerList = response.data;
                    this.customerList.forEach(item => {
                        item.StartDate = new Date(item.StartDate);
                        item.EndDate = new Date(item.EndDate);
                    });
                    if (response.data && response.data.length > 0) {
                        this.totalRecords = response.data[0].totalRows;
                    }
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        },

        onSearchData() {
            this.loadLazyData(this.lazyParams)     
        },

        onPage(event) {
            this.lazyParams = event ? this.lazyParams : event;
        },

        onApprove() {
            this.$confirm.require({
                message: 'Are you sure you want to approve this data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/clinic-master/approve', this.selectedMasterList)
                    .then(response => {
                        this.clinicMaster = {
                            area: null,
                            lini: null
                        }
                        this.customerList = [];
                        this.selectedMasterList = [];
                        this.errorMessage.push({ severity: 'success', content: 'Data has been approved' });
                    },
                    error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        onReject() {
            this.$confirm.require({
                message: 'Are you sure you want to reject this data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/clinic-master/reject', this.selectedMasterList)
                    .then(response => {
                        this.clinicMaster = {
                            area: null,
                            lini: null
                        }
                        this.customerList = [];
                        this.selectedMasterList = [];
                        this.errorMessage.push({ severity: 'error', content: 'Data has been rejected' });
                    },
                    error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },
    }
}
</script>