<template>
    <Panel header="Edit New Clinic">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="clinicMaster.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[0]" @click="onLoadArea" />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="clinicMaster.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
                <Button icon="pi pi-search" :loading="loading[1]" @click="onLoadLine" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Clinic Name</label>
            <div class="col-6 lg:col-5">
                <InputText type="text" v-model="clinicMaster.ClinicName" class="w-full" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Clinic Address</label>
            <div class="col-9">
                <Textarea v-model="clinicMaster.ClinicAddress" rows="5" cols="50" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Panel Name</label>
            <div class="col">
                <InputText type="text" v-model="clinicMaster.Sitecode" class="w-4" />
                <Button icon="pi pi-search" @click="onAddCustomer" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Status</label>
            <div class="col-9">
                <Dropdown
                    v-model="clinicMaster.status"
                    :options="statusList"
                    optionLabel="name"
                    optionValue="name"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button label="Search" class="p-button-primary mr-3" @click="onSearch" />
                <Button label="Edit" class="p-button-primary mr-3" @click="onEditData" 
                v-if="editedDataList && editedDataList.length > 0" />
                <Button label="Delete" class="p-button-danger mr-3" @click="onDeleteData" 
                v-if="selectedDataList && selectedDataList.length > 0" />
            </div>
        </div>
        <div class="field grid" v-if="errorMessage && errorMessage.length > 0">
            <div class="col">
                <transition-group name="p-message" tag="div">
                    <Message
                        :severity="msg.severity"
                        :life="3000"
                        :sticky="false"
                        v-for="msg of errorMessage"
                        :key="msg"
                    >{{ msg.content }}</Message>
                </transition-group>
            </div>
        </div>
        <DataTable
            :value="clinicList"
            v-model:selection="selectedDataList"
            data-key="ClinicID"
            :paginator="true"
            :rows="10"
            @page="onPage($event)"
            :totalRecords="totalRecords"
            responsiveLayout="scroll"
            editMode="cell" 
            @cell-edit-complete="onCellEditComplete"
            v-if="clinicList.length > 0"
        >
            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
            <Column field="AreaName" header="Area Name"></Column>
            <Column field="LineName" header="Line Name"></Column>
            <Column field="ClinicCode" header="Clinic Code"></Column>
            <Column field="ClinicAddress" header="Address">
                <template #editor="{ data, field }">
                    <InputText v-model="data[field]" />
                </template>
            </Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="StartDate" header="Start Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.StartDate) }}</template>
            </Column>
            <Column field="EndDate" header="End Date">
                <template #editor="{ data, field }">
                    <Calendar
                        v-model="data[field]"
                        :showIcon="true"
                        :manualInput="false"
                        dateFormat="dd/mm/yy"
                        style="min-width:10vw"
                    />
                </template>
                <template #body="slotProps">{{ formatDate(slotProps.data.EndDate) }}</template>
            </Column>
            <Column field="status" header="Status"></Column>
        </DataTable>
    </Panel>
    <DynamicDialog />
    <ConfirmDialog></ConfirmDialog>
</template>

<script>

import axiosService from "./../../services/axios";
import moment from 'moment';
import customerPanelModal from '../Modal/CustomerPanelModal.vue';

export default {
    data() {
        return {
            clinicMaster: {
                area: null,
                lini: null,
                ClinicName: null,
                ClinicAddress: null,
                Sitecode: null,
                status: null
            },
            clinicList: [],
            loading: [false, false, false],
            areaList: [],
            liniList: [],
            statusList:[ 
                {name: 'Non Active'},
                {name: 'Active'}
            ],
            selectedDataList: [],
            editedDataList: [],
            errorMessage: [],
            lazyParams: {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            },
            totalRecords: null
        }
    },

    created() {
        this.onLoadArea();
        this.onLoadLine();
    },

    methods: {
        onLoadArea() {
            const tempAreaList = localStorage.getItem("AreaList");
            if (tempAreaList) {
                this.areaList = JSON.parse(tempAreaList);
            } else {
                this.loading[0] = true;
                axiosService.post('/api/dexaapi/area/list', {})
                .then(
                    response => {
                        this.loading[0] = false;
                        this.areaList = response.data;
                        localStorage.setItem("AreaList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[0] = false;
                        this.areaList = [{
                            AreaID: '',
                            AreaCode: "",
                            AreaName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },
        
        onLoadLine() {
            const tempLiniList = localStorage.getItem("LiniList");
            if (tempLiniList) {
                this.liniList = JSON.parse(tempLiniList);
            } else {
                this.loading[1] = true;
                axiosService.post('/api/dexaapi/line/list', {})
                .then(
                    response => {
                        this.loading[1] = false;
                        this.liniList = response.data;
                        localStorage.setItem("LiniList", JSON.stringify(response.data));
                    },
                    error => {
                        this.loading[1] = false;
                        this.liniList = [{
                            LineID: '',
                            LineName: "No Data Found"
                        }];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
            }
        },

        onAddCustomer() {
            const dialogRef = this.$dialog.open(customerPanelModal, {
                props: {
                    header: 'Customer Panel List',
                    style: {
                        width: '80vw',
                    },
                    breakpoints:{
                        '960px': '75vw',
                        '640px': '90vw'
                    },
                    modal: true
                },
                data: {
                    area: this.clinicMaster.area,
                    areaList: this.areaList,
                    liniList: this.liniList,
                    lini: this.clinicMaster.lini,
                    customerAreaList: this.areaList,
                    selectionMode: 'single'
                },
                onClose: (options) => {
                    const tempSelectedMaster = options.data;
                    if (tempSelectedMaster) {
                        this.clinicMaster.Sitecode = tempSelectedMaster.Sitecode;
                    }
                }
            });
        },
        
        onDeleteData() {
            this.$confirm.require({
                message: 'Are you sure you want to delete data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/clinic-master/delete', this.selectedDataList)
                    .then(response => {
                        this.errorMessage.push({ severity: 'error', content: 'Data has been deleted' });
                        this.onResetData();
                    }, error => {
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    });
                }
            });
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        },

        loadLazyData() {
            axiosService.post('/api/clinic-master/search', {
                data: this.clinicMaster,
                pageSetting: this.lazyParams
            })
            .then(
                response => {
                    this.clinicList = response.data;
                    this.clinicList.forEach(item => {
                        item.EndDate = new Date(item.EndDate);
                    });
                    if (response.data && response.data.length > 0) {
                        this.totalRecords = response.data[0].totalRows;
                    }
                },
                error => {
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        },

        onSearch() {
            this.loadLazyData();
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },

        onCellEditComplete(event) {
            let { newData, index, newValue, field } = event;
            switch (field) {
                case 'EndDate' : {
                    let tempEndDate = new Date(newValue);
                    const tempPeriodTo = new Date(
                        tempEndDate.getFullYear(),
                        tempEndDate.getMonth(),
                        tempEndDate.getDate() + 1);
                    if (tempPeriodTo.getDate() !== 1) {
                        this.errorMessage.push({ severity: 'error', content: 'end date have to selected with end day of the month' });
                        return;
                    }
                    break;
                }
                default: break;
            }
            this.clinicList[index] = newData;
            const tempSelectedIndex = this.editedDataList.findIndex(item => item.ClinicID === newData.ClinicID);
            if (tempSelectedIndex !== -1) {
                this.editedDataList[tempSelectedIndex] = newData;
            } else {
                this.editedDataList.push(newData);
            }
        },

        onEditData() {
            this.$confirm.require({
                message: 'Are you sure you want to Edit data ?',
                header: 'Confirmation',
                icon: 'pi pi-exclamation-triangle',
                accept: () => {
                    axiosService.post('/api/clinic-master/cutoff', this.editedDataList)
                    .then(
                        response => {
                            this.errorMessage.push({ severity: 'success', content: 'Data has been Edit' });
                            this.onResetData();
                        },
                        error => {
                            if (error.response.status === 404) {
                                if (error.response.data.code === 'INVALID TOKEN') {
                                    localStorage.clear();
                                    this.$router.push('/login');
                                } else {
                                    this.$toast.add({ 
                                        severity: 'error', 
                                        summary: error.response.data.code, 
                                        detail: error.response.data.message, 
                                        life: 3000 
                                    });
                                }
                            }
                            if (error.response.status === 500) {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.statusText, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                    );
                }
            });
        },

        onResetData() {            
            this.clinicMaster = {
                area: null,
                lini: null,
                ClinicName: null,
                ClinicAddress: null,
                Sitecode: null,
                status: null
            };
            this.clinicList = [];
            this.selectedDataList = [];
            this.editedDataList = [];
            this.errorMessage = [];
            this.lazyParams = {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            };
            this.totalRecords = null;
        }
    }
}
</script>