<template>
    <Panel header="Clinic Mapping List">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="dataFilter.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="dataFilter.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Field Force</label>
            <div class="col-2">
                <InputText type="text" v-model="dataFilter.RayonCode" class="w-full" :disabled="true" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="dataFilter.EmployeeID" class="w-full" :disabled="true" />
            </div>
            <div class="col-3">
                <InputText type="text" v-model="dataFilter.EmployeeName" class="w-full" :disabled="true" />
            </div>
            <div class="col-2">
                <InputText type="text" v-model="dataFilter.EmployeePosition" class="w-full" :disabled="true" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Period</label>
            <div class="col-3">
                <Calendar
                    v-model="dataFilter.StartDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
            <div class="col-3">
                <Calendar
                    v-model="dataFilter.EndDate"
                    :showIcon="true"
                    :manualInput="false"
                    dateFormat="dd/mm/yy"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Clinic Name</label>
            <div class="col">
                <InputText type="text" v-model="dataFilter.ClinicName" class="w-4" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Search" class="mr-3" @click="onSearchData" :loading="loading" />
                <Button label="Select" class="p-button-success" @click="onDataSelect" v-if="selectedData"/>
            </div>
        </div>
        <DataTable :value="dataList" v-model:selection="selectedData" data-key="ClinicCode"
            :lazy="true" :paginator="true" :rows="10"
            :totalRecords="totalRecords" :loading="loading" @page="onPage($event)"
            responsiveLayout="scroll"
            v-if="dataList && dataList.length > 0"
        >
            <Column :selection-mode="selectionMode" headerStyle="width: 3em"></Column>
            <Column field="ClinicCode" header="Clinic Code"></Column>
            <Column field="ClinicName" header="Clinic Name"></Column>
            <Column field="ClinicAddress" header="Clinic Address"></Column>
            <Column field="StartDate" header="Start Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.StartDate) }}</template>
            </Column>
            <Column field="EndDate" header="End Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
</template>

<script>

import moment from "moment";
import axiosService from "../../services/axios";

export default {
    inject: ['dialogRef'],
    data() {
        return {
            dataFilter: {
                area: this.dialogRef.data.area,
                lini: this.dialogRef.data.lini,
                RayonCode: this.dialogRef.data.RayonCode,
                EmployeeID: this.dialogRef.data.EmployeeID,
                EmployeeName: this.dialogRef.data.EmployeeName,
                EmployeePosition: this.dialogRef.data.EmployeePosition,
                StartDate: this.dialogRef.data.StartDate,
                EndDate: this.dialogRef.data.EndDate,
                ClinicName: null,
                status: 'Non Active'
            },
            dataList: [],
            selectedData: null,
            selectionMode: this.dialogRef.data.selectionMode,
            loading: false,
            areaList: this.dialogRef.data.areaList,
            liniList: this.dialogRef.data.liniList,
            lazyParams: {
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: null,
                filters: this.filters
            },
            totalRecords: 0
        }
    },

    methods: {
        loadLazyData() {
            this.loading = true;
            axiosService.post('/api/field-force-clinic/search', {
                data: this.dataFilter,
                pageSetting: this.lazyParams
            })
                .then(
                    response => {
                        this.loading = false;
                        this.dataList = response.data;
                        if (response.data && response.data.length > 0) {
                            this.totalRecords = response.data[0].totalRows;
                        }
                    },
                    error => {
                        this.loading = false;
                        this.totalRecords = 0;
                        this.dataList = [];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
        },

        onSearchData() {
            this.loadLazyData();     
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },

        onDataSelect() {
            this.dialogRef.close(this.selectedData);
            this.dataList = null;
            this.selectedData = null;
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
