<template>
    <Panel header="Customer Panel List">
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="dataFilter.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="dataFilter.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Area</label>
            <div class="col">
                <Dropdown
                    v-model="dataFilter.customerArea"
                    :options="customerAreaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Name</label>
            <div class="col">
                <InputText type="text" v-model="dataFilter.OutletName" class="w-4" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button v-bind:disabled="!(dataFilter.area && dataFilter.lini !== null)" label="Search" class="mr-3" @click="onSearchData" :loading="loading" />
                <Button label="Select" class="p-button-success" @click="onDataSelect" v-if="selectedData"/>
            </div>
        </div>
        <DataTable :value="dataList" v-model:selection="selectedData" data-key="CustomerPanelID"
            :lazy="true" :paginator="true" :rows="10"
            :totalRecords="totalRecords" :loading="loading" @page="onPage($event)"
            responsiveLayout="scroll"
            v-if="dataList && dataList.length > 0"
        >
            <Column :selection-mode="selectionMode" headerStyle="width: 3em"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="OutletName" header="Outlet Name"></Column>
            <Column field="OutletAddress" header="Address"></Column>
            <Column field="CustomerAreaName" header="Area"></Column>
            <Column field="ChannelName" header="channel"></Column>
            <Column header="Start Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.StartDate) }}</template>
            </Column>
            <Column header="End Date">
                <template #body="slotProps">{{ formatDate(slotProps.data.EndDate) }}</template>
            </Column>
        </DataTable>
    </Panel>
</template>

<script>

import moment from "moment";
import axiosService from "../../services/axios";

export default {
    inject: ['dialogRef'],
    data() {
        return {
            dataFilter: {
                area: this.dialogRef.data.area,
                lini: this.dialogRef.data.lini,
                channel: this.dialogRef.data.channel ? this.dialogRef.data.channel : null,
                customerArea: null,
                OutletName: null,
                status: 'Active'
            },
            dataList: [],
            selectionMode: this.dialogRef.data.selectionMode,
            selectedData: null,
            loading: false,
            areaList: this.dialogRef.data.areaList,
            liniList: this.dialogRef.data.liniList,
            customerAreaList: this.dialogRef.data.areaList,
            lazyParams: {},
            totalRecords: 0
        }
    },

    created() {
        this.lazyParams = {
            first: 0,
            rows: 0,
            sortField: null,
            sortOrder: null,
            filters: this.filters
        };
    },

    methods: {
        loadLazyData() {
            this.loading = true;
            axiosService.post('/api/outletpanel/search', {
                outletPanelForm: this.dataFilter,
                pageSetting: this.lazyParams
            })
                .then(
                    response => {
                        this.loading = false;
                        this.dataList = response.data;
                        if (response.data && response.data.length > 0) {
                            this.totalRecords = response.data[0].totalRows;
                        }
                    },
                    error => {
                        this.loading = false;
                        this.totalRecords = 0;
                        this.dataList = [];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
        },

        onSearchData() {
            this.loadLazyData()     
        },

        onPage(event) {
            this.lazyParams = event;
            this.loadLazyData();
        },

        onDataSelect() {
            this.dialogRef.close(this.selectedData);
            this.dataList = null;
            this.selectedData = null;
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
