<template>
    <Panel header="Customer List">
        <div class="field grid">
            <label class="col-fixed col-3">Company</label>
            <label class="col-fixed col-5">{{ CompanyName }}</label>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Area</label>
            <div class="col">
                <Dropdown
                    v-model="area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Customer Name</label>
            <div class="col-6 lg:col-4">
                <InputText type="text" v-model="filterCustomerName" class="w-full" />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0"></label>
            <div class="col">
                <Button label="Search" class="mr-3" @click="loadLazyData(1)" :loading="loading" />
                <Button label="Select" class="p-button-success" @click="onCustomerSelect" v-if="selectedCustomerList"/>
            </div>
        </div>
        <DataTable
            :value="customerList"
            v-model:selection="selectedCustomerList"
            data-key="Sitecode"
            :lazy="true"
            :loading="loading"
            @page="onPage($event)"
            :total-records="totalRecords"
            :paginator="true"
            :rows="10"
            responsiveLayout="scroll"
            v-if="customerList.length > 0"
        >
            <Column :selection-mode="selectionMode" headerStyle="width: 3em"></Column>
            <Column field="Sitecode" header="Sitecode"></Column>
            <Column field="CustName" header="Customer Name"></Column>
            <Column field="Address" header="Address"></Column>
        </DataTable>
    </Panel>
</template>

<script>

import axiosService from "../../services/axios";

export default {
    inject: ['dialogRef'],
    data() {
        return {
            displayModal: false,
            area: this.dialogRef.data.area,
            areaList: this.dialogRef.data.areaList,
            selectionMode: this.dialogRef.data.selectionMode,
            CompanyID: localStorage.getItem('CompanyID'),
            CompanyName: localStorage.getItem('CompanyName'),
            filterCustomerName: null,
            customerList: [],
            selectedCustomerList: null,
            totalRecords: 0,
            loading: false
        }
    },
    methods: {
        loadLazyData(StartRowIndex) {
            if (!this.area) return;
            
            this.loading = true;
            const data = {
                AreaID: this.area.AreaID,
                CompanyID: this.CompanyID,
                StartRowIndex: StartRowIndex,
                Type: '',
                CustName: ''
            };
            if (this.filterCustomerName) {
                data.CustName = this.filterCustomerName.toLowerCase();
            }
            axiosService.post('/api/dexaapi/customeroutlet/list', data)
                .then(
                    response => {
                        this.loading = false;
                        this.customerList = response.data;
                        if (response.data && response.data.length > 0) {
                            this.totalRecords = response.data[0].TotalRows;
                        }
                    },
                    error => {
                        this.loading = false;
                        this.totalRecords = 0;
                        this.customerList = [];
                        if (error.response.status === 404) {
                            if (error.response.data.code === 'INVALID TOKEN') {
                                localStorage.clear();
                                this.$router.push('/login');
                            } else {
                                this.$toast.add({ 
                                    severity: 'error', 
                                    summary: error.response.data.code, 
                                    detail: error.response.data.message, 
                                    life: 3000 
                                });
                            }
                        }
                        if (error.response.status === 500) {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.statusText, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                );
        },
        onPage(event) {
            this.lazyParams = event;
            const StartRowIndex = ((event.first || 0) + (event.rows || 10)) / (event.rows || 10);
            this.loadLazyData(StartRowIndex);
        },
        onCustomerSelect() {
            this.dialogRef.close(this.selectedCustomerList);
            this.customerList = [];
            this.selectedCustomerList = [];
        }
    }
}
</script>
