<template>
    <Panel header="FF List">
        <div class="field grid">
            <label class="col-fixed col-2">Period</label>
            <div class="col">
                <label>{{ dataFilter.period }}</label>
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Area - Line</label>
            <div class="col">
                <Dropdown
                    v-model="dataFilter.area"
                    :options="areaList"
                    optionLabel="AreaName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
                <span class="font-medium text-900 col-1">-</span>
                <Dropdown
                    v-model="dataFilter.lini"
                    :options="liniList"
                    optionLabel="LineName"
                    emptyMessage="No Data Found"
                    placeholder="- Select -"
                    class="col-4"
                    :disabled="true"
                />
            </div>
        </div>
        <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col">
                <Button label="Search" class="mr-3" @click="onSearchData" :loading="loading" />
                <Button label="Select" class="p-button-success" @click="onDataSelect" v-if="selectedData"/>
            </div>
        </div>
        <DataTable :value="dataList" v-model:selection="selectedData" data-key="RayonCode"
            :lazy="true" :paginator="true" :rows="10"
            :totalRecords="totalRecords" :loading="loading" @page="onPage($event)"
            responsiveLayout="scroll"
            v-if="dataList && dataList.length > 0"
        >
            <Column :selection-mode="selectionMode" headerStyle="width: 3em"></Column>
            <Column field="RayonCode" header="Rayon Code"></Column>
            <Column field="EmployeeID" header="Employee ID"></Column>
            <Column field="EmployeeName" header="Employee Name"></Column>
            <Column field="EmployeePosition" header="Position"></Column>
            <Column field="EmployeeMRType" header="MR Type"></Column>
        </DataTable>
    </Panel>
</template>

<script>
import moment from "moment";
import axiosService from "../../services/axios";

export default {
    inject: ['dialogRef'],
    data() {
        return {
            dataFilter: {
                period: null,
                area: this.dialogRef.data.area,
                lini: this.dialogRef.data.lini,
            },
            dataList: [],
            selectedData: null,
            selectionMode: this.dialogRef.data.selectionMode,
            loading: false,
            areaList: this.dialogRef.data.areaList,
            liniList: this.dialogRef.data.liniList,
            lazyParams: {},
            totalRecords: 0
        }
    },

    created() {
        this.dataFilter.period = moment(Date.now()).format('MMMM YYYY');
        this.lazyParams = {
            first: 0,
            rows: 0,
            sortField: null,
            sortOrder: null,
            filters: this.filters
        };
    },

    methods: {
        loadLazyData(event) {
            this.loading = true;
            axiosService.post('/api/dexaapi/fieldforce/list', {
                data: this.dataFilter,
                pageSetting: event ? this.lazyParams : event
            })
            .then(
                response => {
                    this.loading = false;
                    this.dataList = response.data;
                },
                error => {
                    this.loading = false;
                    this.totalRecords = 0;
                    this.dataList = [];
                    if (error.response.status === 404) {
                        if (error.response.data.code === 'INVALID TOKEN') {
                            localStorage.clear();
                            this.$router.push('/login');
                        } else {
                            this.$toast.add({ 
                                severity: 'error', 
                                summary: error.response.data.code, 
                                detail: error.response.data.message, 
                                life: 3000 
                            });
                        }
                    }
                    if (error.response.status === 500) {
                        this.$toast.add({ 
                            severity: 'error', 
                            summary: error.response.statusText, 
                            detail: error.response.data.message, 
                            life: 3000 
                        });
                    }
                }
            );
        },

        onSearchData() {
            this.loadLazyData(this.lazyParams);
        },

        onPage(event) {
            this.lazyParams = event;
            const StartRowIndex = ((event.first || 0) + (event.rows || 10)) / (event.rows || 10);
            this.loadLazyData(StartRowIndex);
        },

        onDataSelect() {
            this.dialogRef.close(this.selectedData);
            this.dataList = null;
            this.selectedData = null;
        },

        formatDate(value) {
            return moment(value).format('DD/MM/yy');
        }
    }
}
</script>
